openapi: 3.0.0
info:
  contact:
    name: StackPath Support
    url: https://support.stackpath.com/
  title: Sites
  version: 1.0.0
externalDocs:
  description: The StackPath API Reference
  url: https://stackpath.dev/reference
servers:
- url: https://gateway.stackpath.com
security:
- oauth2: []
paths:
  /delivery/v1/stacks/{stack_id}/certificates/{certificate_id}/recheck:
    post:
      description: Re-check a certificate's verification details while it's being
        issued. This applies to Stackpath's free certificates.
      operationId: RecheckCertificateVerification
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Re-check certificate verification
      tags:
      - SSL
  /delivery/v1/stacks/{stack_id}/metrics:
    get:
      description: The last 24 hours of metrics are retrieved if the start and end
        dates are not provided
      operationId: GetMetrics
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The starting date to retrieve metrics for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The ending date to retrieve metrics for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: AUTO
          enum:
          - AUTO
          - PT5M
          - PT1H
          - P1D
          - P1M
          type: string
        style: form
      - description: A comma-separated list of 1 digit http status codes categories
          to filter by.
        explode: true
        in: query
        name: status_categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma-separated list of 3 digit http status codes to filter
          by.
        explode: true
        in: query
        name: status_codes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma-separated list of site IDs to filter metrics for.
        explode: true
        in: query
        name: sites
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: group_by
        required: false
        schema:
          default: NONE
          enum:
          - NONE
          - SITE
          - PLATFORM
          - POP
          - REGION
          - STATUS
          - STATUS_CATEGORY
          type: string
        style: form
      - description: A comma-separated list of billing regions to filter metrics for.
        explode: true
        in: query
        name: billing_regions
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma-separated list of StackPath point of presence location
          codes to filter metrics for.
        explode: true
        in: query
        name: pops
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma-separated list of billing platforms to filter metrics
          for.
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A filter to retrieve metrics by site type.
        explode: true
        in: query
        name: site_type_filter
        required: false
        schema:
          items:
            enum:
            - ALL
            - CDN
            - WAF
            - SERVERLESS_EDGE_ENGINE
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: metric_type
        required: false
        schema:
          default: TRANSFER
          enum:
          - TRANSFER
          - STATUS_CODE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prometheusMetrics'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get metrics
      tags:
      - Metrics
  /delivery/v1/stacks/{stack_id}/origins:
    get:
      description: Retrieve all origins associated with a site's stack
      operationId: GetOrigins
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetOriginsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all origins
      tags:
      - Origins
  /delivery/v1/stacks/{stack_id}/origins/{origin_id}:
    get:
      operationId: GetOrigin
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: An origin ID
        explode: false
        in: path
        name: origin_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetOriginResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get an origin
      tags:
      - Origins
    patch:
      operationId: UpdateOrigin
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: An origin ID
        explode: false
        in: path
        name: origin_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryUpdateOriginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryUpdateOriginResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update an origin
      tags:
      - Origins
  /delivery/v1/stacks/{stack_id}/sites:
    get:
      operationId: GetSites
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetSitesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all sites
      tags:
      - Sites
    post:
      operationId: CreateSite
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryCreateSiteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryCreateSiteResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Create a site
      tags:
      - Sites
  /delivery/v1/stacks/{stack_id}/sites/{site_id}:
    delete:
      operationId: DeleteSite
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Delete a site
      tags:
      - Sites
    get:
      operationId: GetSite
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetSiteResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a site
      tags:
      - Sites
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/cdn:
    delete:
      operationId: DisableSiteCDN
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable CDN
      tags:
      - Site Features
    post:
      operationId: EnableSiteCDN
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable CDN
      tags:
      - Site Features
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/delivery_domains:
    get:
      description: Delivery domains allow the CDN to recognize an HTTP request and
        associate it with a site.
      operationId: GetSiteDeliveryDomains2
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetSiteDeliveryDomainsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Retrieve the delivery domains configured on a site
      tags:
      - Delivery Domains
    post:
      operationId: CreateSiteDeliveryDomain
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryCreateSiteDeliveryDomainRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryCreateSiteDeliveryDomainResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Add a delivery domain to a site
      tags:
      - Delivery Domains
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/delivery_domains/{domain}:
    delete:
      operationId: DeleteSiteDeliveryDomain
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The delivery domain to remove from a site
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Remove a delivery domain from a site
      tags:
      - Delivery Domains
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins:
    get:
      operationId: GetScopeOrigins
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryGetScopeOriginsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a scope's origins
      tags:
      - Origins
    post:
      description: The origin is automatically created if necessary. When the request
        contains a priority which an origin already associated with the scope has
        set, the existing origin is disconnected. The priority of an origin already
        associated with a scope can be modified via this endpoint.
      operationId: ConnectScopeToOrigin
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryConnectScopeToOriginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deliveryConnectScopeToOriginResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Connect an origin to a scope
      tags:
      - Origins
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/scripting:
    delete:
      operationId: DisableSiteEdgeEngine2
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable serverless scripting
      tags:
      - Site Features
    post:
      operationId: EnableSiteEdgeEngine2
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable serverless scripting
      tags:
      - Site Features
  /delivery/v1/stacks/{stack_id}/sites/{site_id}/waf:
    delete:
      operationId: DisableSiteWAF
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable WAF
      tags:
      - Site Features
    post:
      operationId: EnableSiteWAF
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deliveryEnableSiteWAFRequest'
        required: true
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable WAF
      tags:
      - Site Features
components:
  schemas:
    AuthACLAccessCodeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - allow
      - deny
      type: string
    AuthACLClientIPSrcEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - socket
      - header
      type: string
    AuthGeoCodeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - countryCode
      - region
      - subdivisionCodes
      - city
      - postalCode
      - continentCode
      - timeZone
      - dmaCode
      - areaCode
      type: string
    BandwidthRateLimitInitialBurstUnitsEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - byte
      - kilobyte
      type: string
    BandwidthRateLimitSustainedRateUnitsEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - kilobit
      - kilobyte
      type: string
    ContentDispositionByHeaderDefaultTypeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - attachment
      - inline
      type: string
    DataMatrix:
      description: A set of time series containing a range of data points over time
        for each time series
      example:
        results:
        - metric:
            key: metric
          values:
          - unixTime: unixTime
            value: value
          - unixTime: unixTime
            value: value
        - metric:
            key: metric
          values:
          - unixTime: unixTime
            value: value
          - unixTime: unixTime
            value: value
      properties:
        results:
          description: A data point's value
          items:
            $ref: '#/components/schemas/DataMatrixResult'
          type: array
      type: object
    DataMatrixResult:
      description: Time series containing a range of data points over time for each
        time series
      example:
        metric:
          key: metric
        values:
        - unixTime: unixTime
          value: value
        - unixTime: unixTime
          value: value
      properties:
        metric:
          additionalProperties:
            type: string
          description: The data points' labels
          type: object
        values:
          description: Time series data point values
          items:
            $ref: '#/components/schemas/MetricsDataValue'
          type: array
      type: object
    DataVector:
      description: A set of time series containing a single sample for each time series,
        all sharing the same timestamp
      example:
        results:
        - metric:
            key: metric
          value:
            unixTime: unixTime
            value: value
        - metric:
            key: metric
          value:
            unixTime: unixTime
            value: value
      properties:
        results:
          description: A data point's value
          items:
            $ref: '#/components/schemas/DataVectorResult'
          type: array
      type: object
    DataVectorResult:
      description: Time series containing a single sample for each time series, all
        sharing the same timestamp
      example:
        metric:
          key: metric
        value:
          unixTime: unixTime
          value: value
      properties:
        metric:
          additionalProperties:
            type: string
          description: The data points' labels
          type: object
        value:
          $ref: '#/components/schemas/MetricsDataValue'
      type: object
    MetricsData:
      description: The data points in a metrics collection
      example:
        vector:
          results:
          - metric:
              key: metric
            value:
              unixTime: unixTime
              value: value
          - metric:
              key: metric
            value:
              unixTime: unixTime
              value: value
        matrix:
          results:
          - metric:
              key: metric
            values:
            - unixTime: unixTime
              value: value
            - unixTime: unixTime
              value: value
          - metric:
              key: metric
            values:
            - unixTime: unixTime
              value: value
            - unixTime: unixTime
              value: value
      properties:
        matrix:
          $ref: '#/components/schemas/DataMatrix'
        vector:
          $ref: '#/components/schemas/DataVector'
      type: object
    MetricsDataValue:
      description: An individual metric data point
      example:
        unixTime: unixTime
        value: value
      properties:
        unixTime:
          description: The time that a data point was recorded
          type: string
        value:
          description: A data point's value
          type: string
      type: object
    OriginPullPolicyDefaultCacheBehaviorEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - bypass
      - ttl
      type: string
    OriginPullPolicyExpirePolicyEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - CACHE_CONTROL
      - INGEST
      - LAST_MODIFY
      - NEVER_EXPIRE
      - DO_NOT_CACHE
      type: string
    OriginPullPolicyNoCacheBehaviorEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - legacy
      - spec
      type: string
    OriginPullRedirectActionEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - follow
      - proxy
      type: string
    OriginPullResumeDownloadEtagValidationEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - DO_NOT_USE
      - OPTIONAL
      - REQUIRED
      type: string
    apiStatusDetail:
      discriminator:
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
      type: object
    cdncustconfOrigin:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        host:
          type: string
        originPullHeaders:
          description: String of values delimited by a '|' character.
          type: string
        originCacheHeaders:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAccessLogs:
      description: Enable/Disable access logs
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAccessLogsConfig:
      description: Access log settings
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        extraLogFields:
          description: String of values delimited by a ',' character.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAuthACL:
      description: IP address restrictions allow you to configure your CDN container
        to grant or deny a specific IP addresses or range of IP addresses from accessing
        content cached in a directory in your CDN container.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        accessCode:
          $ref: '#/components/schemas/AuthACLAccessCodeEnumWrapperValue'
        ipList:
          description: String of values delimited by a ',' character. This is a list
            of IP addresses considered for this policy.
          type: string
        protocol:
          $ref: '#/components/schemas/custconfAuthACLProtocolEnumWrapperValue'
        clientIPSrc:
          $ref: '#/components/schemas/AuthACLClientIPSrcEnumWrapperValue'
        header:
          description: This allows you to specify the name of a HTTP request header
            which will contain the client IP address to use for this policy.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAuthACLProtocolEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - http
      - https
      - both
      type: string
    custconfAuthGeo:
      description: Geographic restrictions allow you to restrict content to end users
        in specific locations. The IP address of incoming requests is checked against
        a current list of IP allocations to countries and to states within the US.
        If an end user's IP address is not found in the list, they are allowed access
        to the content by default. The feature has both an Include and an Exclude
        list which are used to target the allowed audience.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        code:
          $ref: '#/components/schemas/AuthGeoCodeEnumWrapperValue'
        values:
          description: String of values delimited by a ',' character. These are the
            region codes you are targeting for this policy. The values that can be
            supplied within this field are those that are supported by the MaxMind®
            GeoIP database.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAuthHttpBasic:
      description: HTTP basic authentication policies allow you to control access
        to your content by requiring the end user to enter a valid username and password
        before gaining access to content.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        bindingPoint:
          description: This is a URL to a resource on the authentication server responsible
            for authentication of users.
          type: string
        realm:
          description: This is the authentication realm given back to the user on
            requests which do not contain the authentication credentials. Browsers
            typically display this value to the user when the login credentials are
            requested.
          type: string
        ttl:
          description: This is the number of seconds the authentication session will
            be cached by the browsers. After this time, browsers will be asked to
            present the user credentials again for re-authentication.
          format: int64
          type: number
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAuthReferer:
      description: HTTP Referrer restriction policies allow you to limit access to
        your published CDN URLs based on the HTTP Referrer header submitted by the
        browser. This restriction policy prevents your content from being easily distributed
        on unauthorized websites (also known as hot linking or deep linking). Once
        this policy is applied to your CDN container, websites that are not listed
        in this policy will be denied access to the content cached at this location.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        referer:
          description: String of values delimited by a '|' character. This is a list
            of domains authorized to access content from this path in the container.
            You may use wildcards to specify multiple websites hosted on the same
            domain.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfAuthUrlAsymmetricSignTlu:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        expireParameterName:
          type: string
        keyIdParameterName:
          type: string
        algorithmIdParameterName:
          type: string
        digestParameterName:
          type: string
        publicKeyIdMap:
          additionalProperties:
            type: string
          type: object
        algorithmIdMap:
          additionalProperties:
            $ref: '#/components/schemas/custconfAuthUrlAsymmetricSignTluAlgorithmIdMapEnumWrapperValue'
          type: object
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlAsymmetricSignTluAlgorithmIdMapEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - hmacsha1
      - hmacsha256
      type: string
    custconfAuthUrlSign:
      description: URL Signing policies allow you to restrict access to your content
        by configuring a "shared secret" with StackPath. This "shared secret" is used
        to apply an MD5 hashing algorithm on the URL to validate the signature supplied
        on the request. Since the "shared secret" is only known by the publisher and
        StackPath, URL signatures cannot be generated by unauthorized users.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        tokenField:
          description: This is the name of the query string parameter that will be
            used by the publisher to specify the signature for the URL.
          type: string
        ignoreFieldsAfterToken:
          description: Select this option if you want StackPath to exclude query string
            parameters specified after the passphrase in the validation process.
          format: boolean
          type: boolean
        passPhraseField:
          description: This is the name of the query string parameter that contains
            the value of the secret. This query string parameter is only used during
            the generation and validation of a URL signature and should not be present
            in the published URL.
          type: string
        passPhrase:
          description: The shared secret used during the signing process. This value
            should only be known by StackPath and systems authorized to sign your
            content.
          type: string
        expiresField:
          description: This is the name of the query string parameter that contains
            the Epoch time after which the URL is considered invalid.
          type: string
        ipAddressField:
          description: This is a query string parameter that contains an IPv4 address
            to which the published URL will be restricted.
          type: string
        uriLengthField:
          description: This is a query string parameter used to limit the number of
            characters in the path that should be considered when validating the URL
            signature. This feature allows you to reuse the same signature on all
            assets stored in the same cache path. Setting this value to 0 will strip
            off the filename in the URL (leaving the trailing slash) when calculating
            the checksum.
          type: string
        userAgentField:
          description: This is a query string parameter used to restrict the published
            URL to a specific user agent. Publishers can use this feature during the
            signing process to ensure that only a specific user agent can access the
            published content. You do not need to specify the user agent on the published
            URL. StackPath will use the HTTP User-Agent header value during signature
            validation.
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlSignAliCloudA:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        passPhrase:
          type: string
        tokenField:
          type: string
        includeParamsBeforeToken:
          format: boolean
          type: boolean
        expirationExtension:
          format: int64
          type: number
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlSignAliCloudB:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        passPhrase:
          type: string
        expirationExtension:
          format: int64
          type: number
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlSignAliCloudC:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        passPhrase:
          type: string
        expirationExtension:
          format: int64
          type: number
        tokenField:
          type: string
        expireField:
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlSignHmacTlu:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        expireParameterName:
          type: string
        keyIdParameterName:
          type: string
        algorithmIdParameterName:
          type: string
        digestParameterName:
          type: string
        symmetricKeyIdMap:
          additionalProperties:
            type: string
          type: object
        algorithmIdMap:
          additionalProperties:
            $ref: '#/components/schemas/custconfAuthUrlSignHmacTluAlgorithmIdMapEnumWrapperValue'
          type: object
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAuthUrlSignHmacTluAlgorithmIdMapEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - hmacsha1
      - hmacsha256
      type: string
    custconfAuthUrlSignIq:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        secretKey:
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAwsSignedOriginPullV4:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
        bucketIdentifier:
          type: string
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        awsRegion:
          type: string
        awsService:
          type: string
        expireTimeSeconds:
          format: int64
          type: number
        signedHeaders:
          description: String of values delimited by a ',' character.
          type: string
        authenticationType:
          $ref: '#/components/schemas/custconfAwsSignedOriginPullV4AuthenticationTypeEnumWrapperValue'
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAwsSignedOriginPullV4AuthenticationTypeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - query
      - header
      type: string
    custconfAwsSignedS3PostV4:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
        bucketIdentifier:
          type: string
        accessKeyId:
          type: string
        secretAccessKey:
          type: string
        awsRegion:
          type: string
        awsService:
          type: string
        expireTimeSeconds:
          format: int64
          type: number
        signedHeaders:
          description: String of values delimited by a ',' character.
          type: string
        authenticationType:
          $ref: '#/components/schemas/custconfAwsSignedS3PostV4AuthenticationTypeEnumWrapperValue'
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfAwsSignedS3PostV4AuthenticationTypeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - query
      - header
      type: string
    custconfBandWidthLimit:
      description: 'The pattern based bandwidth throttling policy allows you to limit
        the transfer rate of assets to end users based on a set of rules matching
        the request''s HTTP User-Agent and/or the path. Each rule must be expressed
        in the following format: <User-Agent Pattern>:<path pattern 1, path pattern
        2>. For example, the pattern:  "Mozilla*:*.mp3,*dir*.exe|*IE*:*.jpg,*.zip|*ios
        6*:* " will match all MP3 files and EXE files containing the substring "dir"
        that are requested by a User-Agent containing the substring "Mozilla," all
        JPG and ZIP files requested by a User-Agent containing the substring "IE,"
        and all requests made by User-Agents containing the substring "ios 6."'
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        rule:
          description: String of values delimited by a '|' character. These are pattern
            match rules to use for applying rate limiting on requests.
          type: string
        values:
          description: 'These are the initial bytes (ri) and the sustained rate (rs)
            query string parameters to use for this rule. Example: ri=100,rs=1000'
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfBandwidthRateLimit:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        initialBurstName:
          type: string
        sustainedRateName:
          type: string
        initialBurstUnits:
          $ref: '#/components/schemas/BandwidthRateLimitInitialBurstUnitsEnumWrapperValue'
        sustainedRateUnits:
          $ref: '#/components/schemas/BandwidthRateLimitSustainedRateUnitsEnumWrapperValue'
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfBypassCache:
      description: Bypass content caching on filter match
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
        cookieFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfCacheControl:
      description: The browser caching policy allows you to control the browser caching
        behavior of your assets independently from the CDN cache. For example, this
        policy allows you to set lower or higher TTLs for the browser than those of
        the CDN cache.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        statusCodeMatch:
          description: String of values delimited by a ',' character.
          type: string
        maxAge:
          description: The client TTL controls the lifetime of the asset in the browser's
            cache. The value entered here will be sent to the browser in the Cache-Control
            max-age directive for HTTP 1.1 clients and the Expires header for HTTP
            1.0 clients.
          format: int32
          type: integer
        mustRevalidate:
          description: Selecting this option instructs the CDN caching servers to
            insert the must-revalidate directive on all HTTP responses sent to clients.
          format: boolean
          type: boolean
        synchronizeMaxAge:
          description: Selecting this option allows the CDN to synchronize the Max-Age
            header it sends to clients with the remaining TTL of the asset in the
            cache. This allows assets to expire from the browser cache at the same
            time they expire from the CDN.
          format: boolean
          type: boolean
        override:
          description: 'This allows you to specify a custom Cache-Control header to
            be used by the CDN on all HTTP responses targeted by this policy. Note:
            Do not include the header name (Cache-Control) in this field. Only the
            value of the header should be specified.'
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfCacheKeyModification:
      description: The Cache Key Modification policy allows for manipulation of the
        way the cache uniquely stores assets.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        normalizeKeyPathToLowerCase:
          description: When set, purges and requests for a file will be case insensitive.
            This setting is useful if you have a case insensitive origin server and
            would like to avoid duplicating assets.
          format: boolean
          type: boolean
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfClientRequestModification:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        urlPattern:
          type: string
        urlRewrite:
          type: string
        headerPattern:
          type: string
        headerRewrite:
          type: string
        addHeaders:
          description: String of values delimited by a '|' character. This is the
            static HTTP header you want inserted into the CDN request. Start value
            with "append:", "replace:" or "create:" which defines if Header will be
            added, replaced or create if not exists. Default is append.
          type: string
        flowControl:
          $ref: '#/components/schemas/custconfClientRequestModificationFlowControlEnumWrapperValue'
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
        cookieFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfClientRequestModificationFlowControlEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - next
      - break
      type: string
    custconfClientResponseModification:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        statusCodeRewrite:
          format: int64
          type: number
        headerPattern:
          type: string
        headerRewrite:
          type: string
        addHeaders:
          description: String of values delimited by a '|' character. This is the
            static HTTP header you want inserted into the CDN response. Start value
            with "append:", "replace:" or "create:" which defines if Header will be
            added, replaced or create if not exists. Default is append.
          type: string
        flowControl:
          $ref: '#/components/schemas/custconfClientResponseModificationFlowControlEnumWrapperValue'
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfClientResponseModificationFlowControlEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - next
      - break
      type: string
    custconfCompression:
      description: The compression policy allows you to provide a list of file extensions
        you want the CDN caching servers to automatically compress before delivering
        content to end users. This policy is typically used when your origin server
        does not support compression or you are unable to configure your origin to
        compress your files. If your origin is configured to already compress files,
        you should consider adding the Compressed Origin Pull policy to your host,
        which will enable the CDN caching server to request compressed (gzip) version
        of your assets. The compressed origin pull policy can be found in the Origin
        Pull policies list. Please note that our caching servers schedule the compression
        of files, and typically you do not see the compressed delivery until the file
        has been requested several times. Typically, this list is comprised of text
        files like javascript, html and CSS files. You should not include file extensions
        that match media files (images, videos, or audio files) or any other file
        format that includes a built in compression algorithm. Attempting to further
        compress these types of files usually results in a larger file being delivered
        to end users.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        gzip:
          description: String of values delimited by a ',' character. The list of
            file extensions you want the caching servers to use to identify the content
            you want compressed before delivering it to end users
          type: string
        mime:
          description: String of values delimited by a ',' character. A list of rules
            based on MIME types you want the caching servers to use to identify content
            you want compressed before delivering it to end users.
          type: string
        level:
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfConfiguration:
      description: Advanced configuration options
      properties:
        accessLogs:
          $ref: '#/components/schemas/custconfAccessLogs'
        accessLogsConfig:
          $ref: '#/components/schemas/custconfAccessLogsConfig'
        authACL:
          description: IP address restrictions allow you to configure your CDN container
            to grant or deny a specific IP addresses or range of IP addresses from
            accessing content cached in a directory in your CDN container.
          items:
            $ref: '#/components/schemas/custconfAuthACL'
          type: array
        authGeo:
          description: Geographic restrictions allow you to restrict content to end
            users in specific locations. The IP address of incoming requests is checked
            against a current list of IP allocations to countries and to states within
            the US. If an end user's IP address is not found in the list, they are
            allowed access to the content by default. The feature has both an Include
            and an Exclude list which are used to target the allowed audience.
          items:
            $ref: '#/components/schemas/custconfAuthGeo'
          type: array
        authHttpBasic:
          $ref: '#/components/schemas/custconfAuthHttpBasic'
        authReferer:
          $ref: '#/components/schemas/custconfAuthReferer'
        authUrlSign:
          description: URL Signing policies allow you to restrict access to your content
            by configuring a "shared secret" with StackPath. This "shared secret"
            is used to apply an MD5 hashing algorithm on the URL to validate the signature
            supplied on the request. Since the "shared secret" is only known by the
            publisher and StackPath, URL signatures cannot be generated by unauthorized
            users.
          items:
            $ref: '#/components/schemas/custconfAuthUrlSign'
          type: array
        authUrlSignAliCloudA:
          items:
            $ref: '#/components/schemas/custconfAuthUrlSignAliCloudA'
          type: array
        authUrlSignAliCloudB:
          items:
            $ref: '#/components/schemas/custconfAuthUrlSignAliCloudB'
          type: array
        authUrlSignAliCloudC:
          items:
            $ref: '#/components/schemas/custconfAuthUrlSignAliCloudC'
          type: array
        authUrlSignHmacTlu:
          items:
            $ref: '#/components/schemas/custconfAuthUrlSignHmacTlu'
          type: array
        authUrlSignIq:
          items:
            $ref: '#/components/schemas/custconfAuthUrlSignIq'
          type: array
        authUrlAsymmetricSignTlu:
          items:
            $ref: '#/components/schemas/custconfAuthUrlAsymmetricSignTlu'
          type: array
        bandWidthLimit:
          $ref: '#/components/schemas/custconfBandWidthLimit'
        bandwidthRateLimit:
          $ref: '#/components/schemas/custconfBandwidthRateLimit'
        bypassCache:
          description: Bypass content caching on filter match
          items:
            $ref: '#/components/schemas/custconfBypassCache'
          type: array
        cacheControl:
          description: The browser caching policy allows you to control the browser
            caching behavior of your assets independently from the CDN cache. For
            example, this policy allows you to set lower or higher TTLs for the browser
            than those of the CDN cache.
          items:
            $ref: '#/components/schemas/custconfCacheControl'
          type: array
        cacheKeyModification:
          $ref: '#/components/schemas/custconfCacheKeyModification'
        clientRequestModification:
          items:
            $ref: '#/components/schemas/custconfClientRequestModification'
          type: array
        clientResponseModification:
          items:
            $ref: '#/components/schemas/custconfClientResponseModification'
          type: array
        compression:
          $ref: '#/components/schemas/custconfCompression'
        contentDispositionByURL:
          $ref: '#/components/schemas/custconfContentDispositionByURL'
        contentDispositionByHeader:
          description: The content disposition by HTTP header match policy allows
            you to control the Content-Disposition delivered by the CDN using a pattern
            match against the value of any HTTP header present in the request. If
            you are using URL query string parameters to control the Content-Disposition
            header (using the Content Disposition by URL policy) then the Content-Disposition
            header generated by this policy will not be used on that specific request.
            A typical use case for this policy is to set a different Content-Disposition
            header based on the User-Agent in the request.
          items:
            $ref: '#/components/schemas/custconfContentDispositionByHeader'
          type: array
        customer:
          $ref: '#/components/schemas/custconfCustomer'
        customHeader:
          $ref: '#/components/schemas/custconfCustomHeader'
        customMimeType:
          description: The custom mime type policy allows you to map file extensions
            to specific mime types for the CDN caching servers to use when delivering
            assets. The mime types you map using this policy may also be limited to
            specific response codes to address scenarios in which the mime type changes
            based on the response code.
          items:
            $ref: '#/components/schemas/custconfCustomMimeType'
          type: array
        dynamicCacheRule:
          description: Client response based on Rules.
          items:
            $ref: '#/components/schemas/custconfDynamicCacheRule'
          type: array
        dynamicContent:
          description: The dynamic content caching policy allows you to specify a
            set of query string and/or HTTP header key/value pairs that should create
            a unique cache entry for a given URL. This policy is useful when your
            origin returns unique content for the same URL based on a set of query
            string parameters provided in the request.
          items:
            $ref: '#/components/schemas/custconfDynamicContent'
          type: array
        failSafeOriginPull:
          $ref: '#/components/schemas/custconfFailSafeOriginPull'
        farAheadRangeProxy:
          $ref: '#/components/schemas/custconfFarAheadRangeProxy'
        fileSegmentation:
          $ref: '#/components/schemas/custconfFileSegmentation'
        flvPseudoStreaming:
          $ref: '#/components/schemas/custconfFlvPseudoStreaming'
        gzipOriginPull:
          $ref: '#/components/schemas/custconfGzipOriginPull'
        httpMethods:
          $ref: '#/components/schemas/custconfHttpMethods'
        origin:
          items:
            $ref: '#/components/schemas/cdncustconfOrigin'
          type: array
        originPersistentConnections:
          $ref: '#/components/schemas/custconfOriginPersistentConnections'
        originPull:
          $ref: '#/components/schemas/custconfOriginPull'
        originPullCacheExtension:
          $ref: '#/components/schemas/custconfOriginPullCacheExtension'
        originPullHost:
          items:
            $ref: '#/components/schemas/custconfOriginPullHost'
          type: array
        originPullProtocol:
          $ref: '#/components/schemas/custconfOriginPullProtocol'
        originPullLogs:
          $ref: '#/components/schemas/custconfOriginPullLogs'
        originPullLogsConfig:
          $ref: '#/components/schemas/custconfOriginPullLogsConfig'
        originPullPolicy:
          description: The CDN caching policy allows you to control how your origin's
            content is cached on the CDN.
          items:
            $ref: '#/components/schemas/custconfOriginPullPolicy'
          type: array
        originRequestModification:
          items:
            $ref: '#/components/schemas/custconfOriginRequestModification'
          type: array
        originResponseModification:
          items:
            $ref: '#/components/schemas/custconfOriginResponseModification'
          type: array
        queryStrParam:
          $ref: '#/components/schemas/custconfQueryStrParam'
        receiptLogsConfig:
          $ref: '#/components/schemas/custconfReceiptLogsConfig'
        redirectExceptions:
          $ref: '#/components/schemas/custconfRedirectExceptions'
        redirectMappings:
          description: The response code redirection policy allows you to map cache
            response codes to an HTTP redirect response. When this policy is applied
            to a host, the caching servers will redirect clients to the URL specified
            in this policy instead of delivering the response code you mapped in the
            policy.
          items:
            $ref: '#/components/schemas/custconfRedirectMappings'
          type: array
        responseHeader:
          $ref: '#/components/schemas/custconfResponseHeader'
        originPullResumeDownload:
          description: The CDN attempts to resume downloading Origin Pulls once it
            successfully reads all the headers of a positive response under certain
            conditions by sending subsequent origin range requests for the remaining
            body. The response must be a 2xx to a GET request for the full file or
            a single range (not multi-range). The response must contain the Last-Modified
            and ETag headers.
          items:
            $ref: '#/components/schemas/custconfOriginPullResumeDownload'
          type: array
        robotsTxt:
          items:
            $ref: '#/components/schemas/custconfRobotsTxt'
          type: array
        awsSignedOriginPullV4:
          items:
            $ref: '#/components/schemas/custconfAwsSignedOriginPullV4'
          type: array
        awsSignedS3PostV4:
          items:
            $ref: '#/components/schemas/custconfAwsSignedS3PostV4'
          type: array
        staticHeader:
          description: The static header injection policy allows you to insert headers
            into the CDN request and response processor.
          items:
            $ref: '#/components/schemas/custconfStaticHeader'
          type: array
        timePseudoStreaming:
          $ref: '#/components/schemas/custconfTimePseudoStreaming'
        http2Support:
          $ref: '#/components/schemas/custconfHttp2Support'
        vHost:
          description: A hostname policy allows you to specify an alternate domain
            name that you want to use to access content from your CDN container.
          items:
            $ref: '#/components/schemas/custconfVHost'
          type: array
      type: object
    custconfContentDispositionByHeader:
      description: The content disposition by HTTP header match policy allows you
        to control the Content-Disposition delivered by the CDN using a pattern match
        against the value of any HTTP header present in the request. If you are using
        URL query string parameters to control the Content-Disposition header (using
        the Content Disposition by URL policy) then the Content-Disposition header
        generated by this policy will not be used on that specific request. A typical
        use case for this policy is to set a different Content-Disposition header
        based on the User-Agent in the request.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        headerFieldName:
          description: The setting allows you to specify the name of the HTTP header
            you'd like to use in the pattern match for this policy.
          type: string
        headerValueMatch:
          description: String of values delimited by a ',' character. A list of glob
            patterns that apply this policy if any of them match against the value
            of the header specified.
          type: string
        defaultType:
          $ref: '#/components/schemas/ContentDispositionByHeaderDefaultTypeEnumWrapperValue'
        overrideOriginHeader:
          description: This setting allows you to force the Content-Disposition generated
            by the CDN for this policy to override the Content-Disposition header
            cached from your origin.
          format: boolean
          type: boolean
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfContentDispositionByURL:
      description: The content disposition by URL policy allows you to control Content-Disposition
        HTTP header delivered by the CDN caching servers. The policy gives you control
        over each of the header directives and allows you to specify a URL pattern
        match for determining when to apply the policy. Please note this policy takes
        precedence over all the other content disposition policies.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        dispositionNameQSParam:
          description: This is the name of the query string parameter which contains
            the file name to use in the Content-Disposition header. This setting is
            typically used by customers to configure a "friendly name" for URLs that
            have obfuscated file names.
          type: string
        dispositionTypeQSParam:
          description: This is the name of the query string parameter which contains
            the disposition type to use in the Content-Disposition header. Typically,
            this value is set to attachment if you want the browser to present the
            user with a "File Download" dialog box and set to inline if you want the
            browser to render the content inline (play an audio/video file instead
            of downloading it).
          type: string
        dispositionOverrideQSParam:
          description: This setting allows you to define a query string parameter
            that when present in the URL contains a string that should be used for
            the Content-Disposition header. The string specified in the URL will completely
            replace the value the CDN would have used based on other policies defined
            for the Content-Disposition header.
          type: string
        overrideOriginHeader:
          description: This setting allows you to force the Content-Disposition generated
            by the CDN for this policy to override the Content-Disposition header
            cached from your origin.
          format: boolean
          type: boolean
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfCustomHeader:
      description: The X-Forwarded-For header policy allows you to override the name
        of the X-Forwarded-For header the CDN sends to your origin.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        xForwardedForAuth:
          description: This is the name of the X-Forwarded-For header you want the
            CDN to use when making requests to your basic authorization server.
          type: string
        xForwardedForOrigin:
          description: This is the name of the X-Forwarded-For header you want the
            CDN to use when making requests to your origin server.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfCustomMimeType:
      description: The custom mime type policy allows you to map file extensions to
        specific mime types for the CDN caching servers to use when delivering assets.
        The mime types you map using this policy may also be limited to specific response
        codes to address scenarios in which the mime type changes based on the response
        code.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        code:
          description: String of values delimited by a ',' character. A comma separated
            list of status codes that apply to this policy
          type: string
        extensionMap:
          description: 'String of values delimited by a '','' character. This is a
            comma separated list of file extension and mime type pairs that describe
            the mime type mapping for the CDN caching servers. The file extension
            and mime type values should be delimited by a colon (:). For example,
            to map files ending with jpg to the image/jpeg mime type and files ending
            with png to image/png, set this value to: jpg:image/jpeg,png:image/png.'
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfCustomer:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        accessLogFields:
          description: String of values delimited by a ',' character.
          type: string
        opLogFields:
          description: String of values delimited by a ',' character.
          type: string
        receiptLogFields:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfDynamicCacheRule:
      description: Client response based on Rules.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        statusCode:
          description: Status code to return
          format: int64
          type: number
        headers:
          description: String of values delimited by a '|' character. Pipe delimited
            ('|') list of headers to add to response
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfDynamicContent:
      description: The dynamic content caching policy allows you to specify a set
        of query string and/or HTTP header key/value pairs that should create a unique
        cache entry for a given URL. This policy is useful when your origin returns
        unique content for the same URL based on a set of query string parameters
        provided in the request.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        queryParams:
          description: 'String of values delimited by a '','' character. A comma separated
            list of query string parameters you want to include in the cache key generation.
            NOTE: This list is ignored when the Key Location is set to header.'
          type: string
        headerFields:
          description: |-
            String of values delimited by a ',' character. A comma-separated list of glob patterns that represent HTTP request headers you want included in the cache key generation. Via the use of a colon ':', users can define each glob pattern to match a header name only, or the pattern can be used to match both the header name and value. A pattern without a colon ':' is treated as a header name ONLY match. If the pattern matches the header, then all values are used as a part of the cache key. If the pattern contains a colon, the CDN uses the pattern on the left of the colon to match the header. The pattern to the right of the colon is used to match the value. The CDN only uses the header/value as a part of the cache key if both patterns result in a match. Note, no pattern after a colon indicates an empty header (no value).
            See the fnmatch manpage for acceptable glob patterns.
          type: string
        enabled:
          format: boolean
          type: boolean
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfFailSafeOriginPull:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
        statusCodeMatch:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfFarAheadRangeProxy:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
        thresholdBytes:
          format: int64
          type: number
      type: object
    custconfFileSegmentation:
      description: Policy for configuring the feature for downloading and storing
        files in segments rather than a whole entity.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          description: Flag for enabling the File Segmentation Feature.
          format: boolean
          type: boolean
      type: object
    custconfFlvPseudoStreaming:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        jumpToByteInitialBytesParam:
          type: string
        jumpToByteStartOffsetParam:
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfGzipOriginPull:
      description: 'The compressed origin pull policy allows you to enable the CDN
        caching servers to request compressed assets from your origin. By enabling
        this policy, the CDN caching servers send your origin the HTTP Accept-Encoding
        header with the gzip code (Accept-Encoding: gzip).'
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          description: This enables support for compressed origin pull
          format: boolean
          type: boolean
      type: object
    custconfHttp2Support:
      description: Enable support of HTTP2
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          description: Enable support of HTTP2
          format: boolean
          type: boolean
      type: object
    custconfHttpMethods:
      description: The HTTP methods policy allows you to selectively enable additional
        HTTP methods you want your CDN container to process. A container automatically
        is set up to process HTTP GET and HEAD commands, so they should not be explicitly
        defined in this policy. HTTP methods included in this policy are proxied directly
        to your origin and not cached by the CDN.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        passThru:
          description: String of values delimited by a ',' character. This is a comma
            separated list of HTTP methods you want the CDN to proxy to your origin.
            A wildcard can be entered to include all methods (excluding HEAD and GET).
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPersistentConnections:
      description: The origin persistent connection settings are used to enable persistent
        connections to origins
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPull:
      description: The origin pull settings policy contains a list of settings that
        control the behavior of origin pull requests.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        redirectAction:
          $ref: '#/components/schemas/OriginPullRedirectActionEnumWrapperValue'
        noQSParams:
          description: GFS sends a path without any query string parameters when making
            external origin requests regardless if any parameters were sent by the
            User-Agent.
          format: boolean
          type: boolean
        retryMethods:
          description: String of values delimited by a ',' character. List of HTTP
            Methods that define types of origin pull requests that can be retried
            if a failure occurs after sending a previous request.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPullCacheExtension:
      description: The cache extension policy allows you to define cache revalidation
        exceptions on expired content. This policy is applied by the CDN caching servers
        when they are are unable to revalidate an expired asset with your origin due
        to network connectivity issues or unresponsiveness from your origin.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        expiredCacheExtension:
          description: This is the number of seconds to extend an asset's TTL when
            the origin is unavailable. The CDN will continue to retry the origin up
            to the Origin Unavailable Max TTL.
          format: int32
          type: integer
        originUnreachableCacheExtension:
          description: The origin unavailable max TTL value is used by the caching
            server when your origin is unresponsive or the CDN cannot establish a
            connection to your origin. Under these conditions, the CDN can continue
            to serve expired assets from the cache. The value specified in this field
            establishes a maximum allowable TTL for your expired assets. If your origin
            connectivity or responsiveness is not corrected within your maximum allowable
            TTL, the CDN no longer serves your expired assets.
          format: int32
          type: integer
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPullHost:
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        originUrl:
          type: string
        userName:
          type: string
        password:
          type: string
        methodFilter:
          description: String of values delimited by a ',' character.
          type: string
        pathFilter:
          description: String of values delimited by a ',' character.
          type: string
        headerFilter:
          description: String of values delimited by a ',' character.
          type: string
      type: object
    custconfOriginPullLogs:
      description: Enable/Disable Origin Pull Logs
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPullLogsConfig:
      description: Origin Pull Log Settings
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        extraLogFields:
          description: String of values delimited by a ',' character.
          type: string
        enabled:
          format: boolean
          type: boolean
      type: object
    custconfOriginPullPolicy:
      description: The CDN caching policy allows you to control how your origin's
        content is cached on the CDN.
      properties:
        id:
          description: This is used by the API to perform conflict checking
          type: string
        statusCodeMatch:
          description: String of values delimited by a ',' character. This is a pattern
            match expression for each status code this policy applies to. For example,
            2*, 3* applies this policy to all 200 and 300 level HTTP responses from
            your origin.
          type: string
        expirePolicy:
          $ref: '#/components/schemas/OriginPullPolicyExpirePolicyEnumWrapperValue'
        expireSeconds:
          description: This is the expiration time used for assets pulled from your
            origin. When using Cache-Control headers expiration methods, this value
            is used if your origin doesn't return a max-age directive in the Cache-Control
            HTTP header. Please note that a value of 0 in this fields instructs the
            caching server to retain assets for as long as possible.
          format: int32
          type: integer
        honorNoStore:
          description: This enables the processing of no-store HTTP Cache-Control
            directives on your container. By enabling this option, responses from
            your origin containing the no-store directive are not cached. Be aware
            that requests for non-cacheable assets are always forwarded to your origin
            and may impose a high request and bandwidth load on your origin.
          format: boolean
          type: boolean
        honorNoCache:
          description: This enables the processing of no-cache HTTP Cache-Control
            directives on your container. By enabling this option, responses from
            your origin containing the no-cache directive force the CDN to submit
            every subsequent request to your origin for validation before serving
            the asset stored in the cache.
          format: boolean
          type: boolean
        honorMustRevalidate:
          format: boolean
          type: boolean
        noCacheBehavior:
          $ref: '#/components/schemas/OriginPullPolicyNoCacheBehaviorEnumWrapperValue'
        maxAgeZeroToNoCache:
          description: This enables the CDN to apply the no-cache behavior for assets
            delivered by your origin containing a max-age directive equal to zero.
[...]
