openapi: 3.0.0
info:
  contact:
    name: StackPath Support
    url: https://support.stackpath.com/
  title: Content Delivery Network
  version: 1.0.0
externalDocs:
  description: The StackPath API Reference
  url: https://stackpath.dev/reference
servers:
- url: https://gateway.stackpath.com
security:
- oauth2: []
paths:
  /cdn/v1/ips:
    get:
      description: Retrieve all IP addresses used by the StackPath CDN
      operationId: GetCDNIPs
      parameters:
      - description: Whether to search for IPv4, IPv6, or all IP addresses
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - IPV4
          - IPV6
          type: string
        style: form
      - description: The format to return the result in
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          default: JSON
          enum:
          - JSON
          - PLAIN_TEXT
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetCDNIPsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get IP addresses
      tags:
      - Infrastructure
  /cdn/v1/origins/scan:
    post:
      description: Scan an origin from StackPath's CDN. Retrieve information regarding
        the origin, such as its IP address and whether or not it supports SSL.
      operationId: ScanOrigin
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnScanOriginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnScanOriginResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Scan an origin
      tags:
      - Infrastructure
  /cdn/v1/pops:
    get:
      description: Get the StackPath CDN's points of presence
      operationId: GetPops
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetPopsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get points of presence
      tags:
      - Infrastructure
  /cdn/v1/pops/closest:
    get:
      description: Scan a URL from the StackPath edge network and return a performance
        report. Results are ordered with the fastest POP response first.
      operationId: GetClosestPops
      parameters:
      - description: The URL to scan.
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetClosestPopsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get POP performance
      tags:
      - Infrastructure
  /cdn/v1/stacks/{stack_id}/certificates:
    get:
      operationId: GetCertificates
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetCertificatesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all certificates
      tags:
      - SSL
    post:
      description: The certificate is automatically associated with CDN site scope
        hostnames that match either the certificate's subject or its alternative names.
      operationId: CreateCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnCreateCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnCreateCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Add a certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}:
    delete:
      operationId: DeleteCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a certificate
      tags:
      - SSL
    get:
      operationId: GetCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a certificate
      tags:
      - SSL
    put:
      operationId: UpdateCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnUpdateCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnUpdateCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update a certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/renew:
    post:
      description: StackPath automatically renews certificates that are 30 days from
        expiration. Call this to retry a renewal that previously failed.
      operationId: RenewCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Renew a certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/sites:
    get:
      operationId: GetCertificateSites
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetCertificateSitesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get sites associated with a certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/certificates/{certificate_id}/verification_details:
    get:
      operationId: GetCertificateVerificationDetails
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetCertificateVerificationDetailsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get verification details
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/metrics:
    get:
      description: The last 24 hours of metrics are retrieved if the start and end
        dates are not provided
      operationId: GetMetrics
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The starting date to retrieve metrics for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The ending date to retrieve metrics for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An ISO 8601 duration to roll up metrics by
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          default: AUTO
          enum:
          - AUTO
          - P1M
          - PT5M
          - PT1H
          - P1D
          type: string
        style: form
      - description: A comma-separated list of billing platforms to filter metrics
          for.
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of StackPath point of presence location
          codes to filter metrics for.
        explode: true
        in: query
        name: pops
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of billing regions to filter metrics for.
        explode: true
        in: query
        name: billing_regions
        required: false
        schema:
          type: string
        style: form
      - description: A comma-separated list of site IDs to filter metrics for.
        explode: true
        in: query
        name: sites
        required: false
        schema:
          type: string
        style: form
      - description: The field to group metrics by
        explode: true
        in: query
        name: group_by
        required: false
        schema:
          default: NONE
          enum:
          - NONE
          - ACCOUNT
          - SITE
          - PLATFORM
          - POP
          - REGION
          type: string
        style: form
      - description: The type of sites to retrieve metrics for
        explode: true
        in: query
        name: site_type_filter
        required: false
        schema:
          default: ALL
          enum:
          - ALL
          - CDN
          - WAF
          - API
          - EDGE_ENGINE
          - SERVERLESS_EDGE_ENGINE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetMetricsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get metrics
      tags:
      - Metrics
  /cdn/v1/stacks/{stack_id}/purge:
    post:
      description: Purge cached content for all CDN sites on a stack. Content is re-cached
        on the CDN the next time it is requested. Use the returned purge ID to see
        the status of a purge request.
      operationId: PurgeContent
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnPurgeContentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnPurgeContentResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Purge content
      tags:
      - Purge Content
  /cdn/v1/stacks/{stack_id}/purge/{purge_id}:
    get:
      operationId: GetPurgeStatus
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A CDN purge ID
        explode: false
        in: path
        name: purge_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetPurgeStatusResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get purge status
      tags:
      - Purge Content
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates:
    get:
      operationId: GetSiteCertificates
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteCertificatesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all site certificates
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/request:
    post:
      description: The optional list of hosts should be delivery domains for the site.
        If no hosts parameter is provided, all delivery domains for a site will be
        included in the SAN field. If the hosts parameter is provided, then the first
        entry in the list will be used as the certificate's common name.
      operationId: RequestCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnRequestCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnRequestCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Request a free certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}:
    put:
      description: |-
        Association is performed without validating if the site has a hostname covered by the certificate. This is useful for preparation work required for getting a site ready for traffic.

        If a certificate is uploaded which contains hostnames for sites, it will automatically be connected to those sites. If a hostname is added to a site which is covered by an SSL certificate, it will automatically be connected to the certificate.
      operationId: ConnectSiteToCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnConnectSiteToCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a site's certificate
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/certificates/{certificate_id}/hosts:
    put:
      description: Updating hosts issues a new certificate.
      operationId: UpdateSiteCertificateHosts
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnUpdateSiteCertificateHostsRequest'
        required: true
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update SAN hosts
      tags:
      - SSL
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/dns/targets:
    get:
      description: A site's hostname should point to these CNAME targets in order
        for traffic to be sent through StackPath's edge nodes.
      operationId: GetSiteDnsTargets
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteDnsTargetsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get CNAME targets
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes:
    get:
      operationId: GetSiteScopes
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Whether or not to retrieve the site's CDN scope or its WAF scope.
          When true, this call removes the hostname from a CDN site's scope instead
          of loading from a CDN site's WAF scope, if the site has WAF service.
        explode: true
        in: query
        name: disable_transparent_mode
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteScopesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all scopes
      tags:
      - Configuration
    post:
      operationId: CreateScope
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnCreateScopeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnCreateScopeResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Create a scope
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}:
    delete:
      operationId: DeleteScope
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a scope
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/configuration:
    get:
      operationId: GetScopeConfiguration
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeConfigurationResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a scope's configuraiton
      tags:
      - Configuration
    patch:
      operationId: UpdateScopeConfiguration
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnUpdateScopeConfigurationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnUpdateScopeConfigurationResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update a scope's configuration
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames:
    get:
      description: Hostnames allow the CDN to recognize an HTTP request and associate
        it with a CDN site.
      operationId: GetScopeHostnames
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Whether or not to load hostnames from a CDN site's CDN scope
          or its WAF scope. When true, this call loads scope hostnames from a CDN
          site's scope instead of loading from a CDN site's WAF scope, if the site
          has WAF service.
        explode: true
        in: query
        name: disable_transparent_mode
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeHostnamesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all scope hostnames
      tags:
      - Configuration
    post:
      operationId: CreateScopeHostname
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnCreateScopeHostnameRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnCreateScopeHostnameResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Add a scope hostname
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/hostnames/{domain}:
    delete:
      operationId: DeleteScopeHostname
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: The hostname to remove from a scope
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: Whether or not to remove the hostname from a CDN site's CDN scope
          or its WAF scope. When true, this call removes the hostname from a CDN site's
          scope instead of loading from a CDN site's WAF scope, if the site has WAF
          service.
        explode: true
        in: query
        name: disable_transparent_mode
        required: false
        schema:
          format: boolean
          type: boolean
        style: form
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a scope hostname
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins:
    get:
      operationId: GetScopeOrigins
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeOriginsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all scope origins
      tags:
      - Configuration
    post:
      description: The origin is automatically created if necessary. When the request
        contains a priority which an origin already associated with the scope has
        set, the existing origin is disconnected. The priority of an origin already
        associated with a scope can be modified via this endpoint.
      operationId: ConnectScopeToOrigin
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnConnectScopeToOriginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnConnectScopeToOriginResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Connect an origin to a scope
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/origins/{origin_id}:
    delete:
      operationId: DisconnectScopeFromOrigin
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: An origin ID
        explode: false
        in: path
        name: origin_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a scope origin
      tags:
      - Configuration
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules:
    get:
      operationId: GetScopeRules
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeRulesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all EdgeRules
      tags:
      - EdgeRules
    post:
      operationId: CreateScopeRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnCreateScopeRuleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnCreateScopeRuleResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Create an EdgeRule
      tags:
      - EdgeRules
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}:
    delete:
      operationId: DeleteScopeRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeRule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete an EdgeRule
      tags:
      - EdgeRules
    get:
      operationId: GetScopeRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeRule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeRuleResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get an EdgeRule
      tags:
      - EdgeRules
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scopes/{scope_id}/rules/{rule_id}/configuration:
    get:
      operationId: GetScopeRuleConfiguration
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeRule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetScopeRuleConfigurationResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get an EdgeRule's configuration
      tags:
      - EdgeRules
    patch:
      operationId: UpdateScopeRuleConfiguration
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A scope ID
        explode: false
        in: path
        name: scope_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeRule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnUpdateScopeRuleConfigurationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnUpdateScopeRuleConfigurationResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update an EdgeRule's configuration
      tags:
      - EdgeRules
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts:
    get:
      operationId: GetSiteScripts
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteScriptsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all serverless scripts
      tags:
      - Serverless Scripting
    post:
      operationId: CreateSiteScript
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnCreateSiteScriptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnCreateSiteScriptResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Create a serverless script
      tags:
      - Serverless Scripting
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}:
    delete:
      operationId: DeleteSiteScript
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A serverless script ID
        explode: false
        in: path
        name: script_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a serverless script
      tags:
      - Serverless Scripting
    get:
      operationId: GetSiteScript
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A serverless script ID
        explode: false
        in: path
        name: script_id
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the serverless script to get
        explode: true
        in: query
        name: script_version
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteScriptResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a serverless script
      tags:
      - Serverless Scripting
    patch:
      operationId: UpdateSiteScript
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A serverless script ID
        explode: false
        in: path
        name: script_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cdnUpdateSiteScriptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnUpdateSiteScriptResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update a serverless script
      tags:
      - Serverless Scripting
  /cdn/v1/stacks/{stack_id}/sites/{site_id}/scripts/{script_id}/{script_version}:
    get:
      operationId: GetSiteScript2
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A serverless script ID
        explode: false
        in: path
        name: script_id
        required: true
        schema:
          type: string
        style: simple
      - description: The version of the serverless script to get
        explode: false
        in: path
        name: script_version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cdnGetSiteScriptResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a serverless script version
      tags:
      - Serverless Scripting
components:
  schemas:
    AuthACLAccessCodeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - allow
      - deny
      type: string
    AuthACLClientIPSrcEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - socket
      - header
      type: string
    AuthGeoCodeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - countryCode
      - region
      - subdivisionCodes
      - city
      - postalCode
      - continentCode
      - timeZone
      - dmaCode
      - areaCode
      type: string
    BandwidthRateLimitInitialBurstUnitsEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - byte
      - kilobyte
      type: string
    BandwidthRateLimitSustainedRateUnitsEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - kilobit
      - kilobyte
      type: string
    ContentDispositionByHeaderDefaultTypeEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - attachment
      - inline
      type: string
    CreateSiteRequestTypeEnum:
      default: CDN
      description: |-
        The CDN site's type

        A site's type determines how StackPath delivers content to incoming HTTP(S) requests.

         - CDN: The site is a CDN only site
         - WAF: The site is either a standalone WAF site or a WAF site with attached CDN service
         - API: The site is an API delivery site. API delivery sites are powered by both the WAF and CDN and have custom rulesets for each.
      enum:
      - CDN
      - WAF
      - API
      type: string
    GetMetricsResponseMetricSample:
      description: The data points associated with a series of metrics
      example:
        values:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        values:
          description: An individual data point
          items:
            format: double
            type: number
          type: array
      type: object
    GetMetricsResponseMetricSeries:
      description: A series of analytics data suitable for a graph
      example:
        metrics:
        - metrics
        - metrics
        type: type
        key: key
        samples:
        - values:
          - 0.8008281904610115
          - 0.8008281904610115
        - values:
          - 0.8008281904610115
          - 0.8008281904610115
      properties:
        type:
          description: The type of data in the analytics set
          type: string
        key:
          description: A graphable key for the type of data in the analytics set
          type: string
        metrics:
          description: Descriptions of the CDN metrics' samples
          items:
            type: string
          type: array
        samples:
          description: The CDN metrics' data points
          items:
            $ref: '#/components/schemas/GetMetricsResponseMetricSample'
          type: array
      type: object
    OriginPullPolicyDefaultCacheBehaviorEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - bypass
      - ttl
      type: string
    OriginPullPolicyExpirePolicyEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - CACHE_CONTROL
      - INGEST
      - LAST_MODIFY
      - NEVER_EXPIRE
      - DO_NOT_CACHE
      type: string
    OriginPullPolicyNoCacheBehaviorEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - legacy
      - spec
      type: string
    OriginPullRedirectActionEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - follow
      - proxy
      type: string
    OriginPullResumeDownloadEtagValidationEnumWrapperValue:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - DO_NOT_USE
      - OPTIONAL
      - REQUIRED
      type: string
    PurgeContentRequestItem:
      properties:
        url:
          description: The URL at which to delete content
          type: string
        recursive:
          description: Whether or not to recursively delete content from the CDN
          format: boolean
          type: boolean
        invalidateOnly:
          description: Whether or not to mark the asset as expired and re-validate
            instead of deleting
          format: boolean
          type: boolean
        purgeAllDynamic:
          description: |-
            Whether or not to purge dynamic versions of assets

            This is ignored if recursive is true.
          format: boolean
          type: boolean
        headers:
          description: A list of HTTP request headers used to construct a cache key
            to purge content by. These headers must be configured in the site configuration's
            _DynamicContent.headerFields_ property.
          items:
            type: string
          type: array
        purgeSelector:
          description: A key/value pair definition of content to purge from the CDN
          items:
            $ref: '#/components/schemas/PurgeContentRequestPurgeSelector'
          type: array
      type: object
    PurgeContentRequestPurgeSelector:
      description: A key/value pair definition of content to purge from the CDN
      properties:
        selectorType:
          $ref: '#/components/schemas/PurgeContentRequestPurgeSelectorType'
        selectorName:
          description: |-
            The name of the type of content to purge

            For example, the name of the HTTP response header. Names are case sensitive.
          type: string
        selectorValue:
          description: |-
            The value of the content to purge

            For example, the value of the HTTP response header. Values are case sensitive and may be wild-carded, but cannot match a "/".
          type: string
        selectorValueDelimiter:
          description: |-
            The delimiter to separate multiple values with

            Defaults to ",".
          type: string
      type: object
    PurgeContentRequestPurgeSelectorType:
      default: HEADER
      description: |-
        The kinds of content that can be purged from the CDN

        - HEADER: Purge content based on an HTTP response header
         - TAG: Purge content based on an X-TAG HTTP header value. Purging by tag can be useful when content on the origin is tagged.
      enum:
      - HEADER
      - TAG
      type: string
    ScanOriginResponseOriginScanSSLDetails:
      description: SSL details in an origin scan response
      example:
        valid: true
        error: error
      properties:
        valid:
          description: Whether or not the scanned domain has a valid SSL certificate
          format: boolean
          type: boolean
        error:
          description: Errors encountered processing HTTPS requests to the scanned
            domain
          type: string
      type: object
    SiteTypeValue:
      default: UNKNOWN
      description: |-
        A CDN site's type

        A site's type determines how StackPath delivers content to incoming HTTP(S) requests.

         - UNKNOWN: StackPath is unable to determine a site's type
         - CDN: A site is CDN only site
         - WAF: A site is either a standalone WAF site or a WAF site with attached CDN service
         - API: A site is an API delivery site. API delivery sites are powered by both the WAF and CDN and have custom rulesets for each.
      enum:
      - UNKNOWN
      - CDN
      - WAF
      - API
      type: string
    apiStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/apiStatusDetail'
          type: array
        message:
          type: string
      type: object
    apiStatusDetail:
      discriminator:
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
      type: object
    cdnCertificate:
      description: An SSL certificate
      example:
        commonName: commonName
        updateDate: 2000-01-23T04:56:07.000+00:00
        caBundle: caBundle
        trusted: true
        subjectAlternativeNames:
        - subjectAlternativeNames
        - subjectAlternativeNames
        providerManaged: true
        fingerprint: fingerprint
        id: id
        issuer: issuer
        expirationDate: 2000-01-23T04:56:07.000+00:00
        createDate: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: A certificate's unique ID
          type: string
        fingerprint:
          description: A unique hash of a certificate's contents
          type: string
        commonName:
          description: A certificate's common name, or the primary domain name the
            certificate is used for
          type: string
        issuer:
          description: The name of the certificate's issuing certificate authority
          type: string
        caBundle:
          description: 'A PEM PKCS #7 formatted certificate authority bundle'
          type: string
        trusted:
          description: Whether or not the certificate's authority is trusted by a
            web browser
          format: boolean
          type: boolean
        expirationDate:
          description: The date an SSL certificate will expire
          format: date-time
          type: string
        createDate:
          description: The date an SSL certificate was created
          format: date-time
          type: string
        updateDate:
          description: The date an SSL certificate was last updated
          format: date-time
          type: string
        subjectAlternativeNames:
          description: |-
            A list of Subject Alternative Names in the certificate

            Certificates for multiple domains define their domains in certificate's SAN list.
          items:
            type: string
          type: array
        status:
          $ref: '#/components/schemas/cdnCertificateStatus'
        providerManaged:
          description: Whether a certificate is managed by StackPath or the end user
          format: boolean
          type: boolean
      type: object
    cdnCertificateStatus:
      default: UNKNOWN
      description: |-
        A StackPath-provided certificate's status

        - UNKNOWN: StackPath is unable to determine the certificate's status. This is the default status for end-user provided certificates.
         - PENDING: The certificate is provisioning
         - EXPIRED: The certificate has expired
         - FAILED: The certificate failed to provision
         - PENDING_VERIFICATION: The certificate is pending domain verification by the end user
         - ACTIVE: The certificate is valid and is in use by one or more hosts
         - INACTIVE: The certificate is valid but is not in use by any hosts
      enum:
      - UNKNOWN
      - PENDING
      - EXPIRED
      - FAILED
      - PENDING_VERIFICATION
      - ACTIVE
      - INACTIVE
      type: string
    cdnCertificateVerificationMethod:
      default: DNS
      description: |-
        The Certificate Verification Method

        Verification method used to validate a requested certificate on a site

         - DNS: Verify a certificate using DNS records
         - HTTP: Verify a certificate by using HTTP validation. This will require all hosts in the certificate point to the site's stackpathcdn.com delivery domain or IP address
      enum:
      - DNS
      - HTTP
      type: string
    cdnConnectScopeToOriginRequest:
      properties:
        origin:
          $ref: '#/components/schemas/cdnConnectScopeToOriginRequestOrigin'
        priority:
          description: |-
            The origin's priority to the scope

            If a CDN scope is powered by more than one origin, then the one with the lower priority number takes higher precedence.
          format: int32
          type: integer
        originId:
          description: |-
            The ID of an existing origin to associate with a scope

            This is useful for connecting to a shared origin.
          type: string
      type: object
    cdnConnectScopeToOriginRequestOrigin:
      description: A new origin
      properties:
        path:
          description: |-
            The origin's path

            Paths default to "/"
          type: string
        hostname:
          description: The origin's hostname or IP address
          type: string
        port:
          description: The HTTP port to connect to the origin
          format: int32
          type: integer
        securePort:
          description: The HTTPS port to connect to the origin
          format: int32
          type: integer
      type: object
    cdnConnectScopeToOriginResponse:
      description: The response from a request to associate an origin with a CDN site
        scope
      example:
        scopeOrigin:
          origin:
            securePort: 1
            path: path
            dedicated: true
            hostname: hostname
            port: 6
            siteId: siteId
            id: id
          priority: 0
      properties:
        scopeOrigin:
          $ref: '#/components/schemas/cdnScopeOrigin'
      type: object
    cdnConnectSiteToCertificateResponse:
      description: The response to a request to associate an SSL certificate with
        a CDN site
      example:
        siteCertificate:
          valid: true
          certificate:
            commonName: commonName
            updateDate: 2000-01-23T04:56:07.000+00:00
            caBundle: caBundle
            trusted: true
            subjectAlternativeNames:
            - subjectAlternativeNames
            - subjectAlternativeNames
            providerManaged: true
            fingerprint: fingerprint
            id: id
            issuer: issuer
            expirationDate: 2000-01-23T04:56:07.000+00:00
            createDate: 2000-01-23T04:56:07.000+00:00
      properties:
        siteCertificate:
          $ref: '#/components/schemas/cdnSiteCertificate'
      type: object
    cdnCreateCertificateRequest:
      properties:
        certificate:
          description: 'A PEM PKCS #7 formatted SSL certificate'
          type: string
        key:
          description: |-
            A PEM PKCS #7 formatted private key

            Private keys are sent directly to the edge nodes and are not stored elsewhere on StackPath's systems.
          type: string
        caBundle:
          description: 'A PEM PKCS #7 formatted certificate authority bundle'
          type: string
      type: object
    cdnCreateCertificateResponse:
      description: The response from a request to add an SSL certificate to a stack
      example:
        certificate:
          commonName: commonName
          updateDate: 2000-01-23T04:56:07.000+00:00
          caBundle: caBundle
          trusted: true
          subjectAlternativeNames:
          - subjectAlternativeNames
          - subjectAlternativeNames
          providerManaged: true
          fingerprint: fingerprint
          id: id
          issuer: issuer
          expirationDate: 2000-01-23T04:56:07.000+00:00
          createDate: 2000-01-23T04:56:07.000+00:00
      properties:
        certificate:
          $ref: '#/components/schemas/cdnCertificate'
      type: object
    cdnCreateScopeHostnameRequest:
      properties:
        domain:
          description: The hostname to add to a scope
          type: string
        disableTransparentMode:
          description: |-
            Whether or not to add the hostname to a CDN site's CDN scope or its WAF scope

            When true, this call adds the hostname to a CDN site's scope instead of loading from a CDN site's WAF scope, if the site has WAF service.
          format: boolean
          type: boolean
      type: object
    cdnCreateScopeHostnameResponse:
      description: The response from a request to add a hostname to a CDN site scope
      example:
        hostname:
          domain: domain
      properties:
        hostname:
          $ref: '#/components/schemas/cdnHostname'
      type: object
    cdnCreateScopeRequest:
      properties:
        path:
          description: The HTTP request path the scope should respond to
          type: string
        platform:
          description: The StackPath billing platform to create the scope on
          type: string
      type: object
    cdnCreateScopeResponse:
      description: The response from a request to create a CDN site scope
      example:
        scope:
          path: path
          id: id
          platform: platform
      properties:
        scope:
          $ref: '#/components/schemas/cdnScope'
      type: object
    cdnCreateScopeRuleRequest:
      properties:
        name:
          description: The EdgeRule's name
          type: string
        slug:
          description: A programmatic name for the EdgeRule
          type: string
        configuration:
          $ref: '#/components/schemas/custconfConfiguration'
      type: object
    cdnCreateScopeRuleResponse:
      description: The response from a request to create a new EdgeRule
      example:
        configuration:
          responseHeader:
            http: http
            enableETag: true
            id: id
            enabled: true
          originPullCacheExtension:
            expiredCacheExtension: 3
            originUnreachableCacheExtension: 2
            id: id
            enabled: true
          accessLogsConfig:
            extraLogFields: extraLogFields
            id: id
            enabled: true
          fileSegmentation:
            id: id
            enabled: true
          awsSignedOriginPullV4:
          - accessKeyId: accessKeyId
            expireTimeSeconds: 1.4894159098541704
            awsRegion: awsRegion
            methodFilter: methodFilter
            signedHeaders: signedHeaders
            bucketIdentifier: bucketIdentifier
            enabled: true
            secretAccessKey: secretAccessKey
            pathFilter: pathFilter
            headerFilter: headerFilter
            id: id
            awsService: awsService
          - accessKeyId: accessKeyId
            expireTimeSeconds: 1.4894159098541704
            awsRegion: awsRegion
            methodFilter: methodFilter
            signedHeaders: signedHeaders
            bucketIdentifier: bucketIdentifier
            enabled: true
            secretAccessKey: secretAccessKey
            pathFilter: pathFilter
            headerFilter: headerFilter
            id: id
            awsService: awsService
          authUrlSignHmacTlu:
          - pathFilter: pathFilter
            expireParameterName: expireParameterName
            digestParameterName: digestParameterName
            keyIdParameterName: keyIdParameterName
            algorithmIdParameterName: algorithmIdParameterName
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            symmetricKeyIdMap:
              key: symmetricKeyIdMap
            enabled: true
            algorithmIdMap: {}
          - pathFilter: pathFilter
            expireParameterName: expireParameterName
            digestParameterName: digestParameterName
            keyIdParameterName: keyIdParameterName
            algorithmIdParameterName: algorithmIdParameterName
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            symmetricKeyIdMap:
              key: symmetricKeyIdMap
            enabled: true
            algorithmIdMap: {}
          originPullResumeDownload:
          - pathFilter: pathFilter
            maximumAttempts: 1.0246457001441578
            minimumBodyBytesConsumed: minimumBodyBytesConsumed
            requireOriginRangeSupport: true
            headerFilter: headerFilter
            id: id
            enabled: true
            originalStatusCodeMatch: originalStatusCodeMatch
          - pathFilter: pathFilter
            maximumAttempts: 1.0246457001441578
            minimumBodyBytesConsumed: minimumBodyBytesConsumed
            requireOriginRangeSupport: true
            headerFilter: headerFilter
            id: id
            enabled: true
            originalStatusCodeMatch: originalStatusCodeMatch
          gzipOriginPull:
            id: id
            enabled: true
          awsSignedS3PostV4:
          - accessKeyId: accessKeyId
            expireTimeSeconds: 6.84685269835264
            awsRegion: awsRegion
            methodFilter: methodFilter
            signedHeaders: signedHeaders
            bucketIdentifier: bucketIdentifier
            enabled: true
            secretAccessKey: secretAccessKey
            pathFilter: pathFilter
            headerFilter: headerFilter
            id: id
            awsService: awsService
          - accessKeyId: accessKeyId
            expireTimeSeconds: 6.84685269835264
            awsRegion: awsRegion
            methodFilter: methodFilter
            signedHeaders: signedHeaders
            bucketIdentifier: bucketIdentifier
            enabled: true
            secretAccessKey: secretAccessKey
            pathFilter: pathFilter
            headerFilter: headerFilter
            id: id
            awsService: awsService
          bandwidthRateLimit:
            pathFilter: pathFilter
            sustainedRateName: sustainedRateName
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            initialBurstName: initialBurstName
            enabled: true
          vHost:
          - domain: domain
            id: id
            enabled: true
          - domain: domain
            id: id
            enabled: true
          originRequestModification:
          - pathFilter: pathFilter
            addHeaders: addHeaders
            cookieFilter: cookieFilter
            headerPattern: headerPattern
            headerRewrite: headerRewrite
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            urlPattern: urlPattern
            flowControl: flowControl
            urlRewrite: urlRewrite
            enabled: true
          - pathFilter: pathFilter
            addHeaders: addHeaders
            cookieFilter: cookieFilter
            headerPattern: headerPattern
            headerRewrite: headerRewrite
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            urlPattern: urlPattern
            flowControl: flowControl
            urlRewrite: urlRewrite
            enabled: true
          customHeader:
            xForwardedForOrigin: xForwardedForOrigin
            xForwardedForAuth: xForwardedForAuth
            id: id
            enabled: true
          originPull:
            noQSParams: true
            id: id
            retryMethods: retryMethods
            enabled: true
          robotsTxt:
          - cacheControlHeader: cacheControlHeader
            pathFilter: pathFilter
            file: file
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            enabled: true
          - cacheControlHeader: cacheControlHeader
            pathFilter: pathFilter
            file: file
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            enabled: true
          originPullLogsConfig:
            extraLogFields: extraLogFields
            id: id
            enabled: true
          cacheControl:
          - statusCodeMatch: statusCodeMatch
            maxAge: 5
            id: id
            override: override
            mustRevalidate: true
            synchronizeMaxAge: true
            enabled: true
          - statusCodeMatch: statusCodeMatch
            maxAge: 5
            id: id
            override: override
            mustRevalidate: true
            synchronizeMaxAge: true
            enabled: true
          originPullHost:
          - pathFilter: pathFilter
            password: password
            originUrl: originUrl
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            userName: userName
          - pathFilter: pathFilter
            password: password
            originUrl: originUrl
            methodFilter: methodFilter
            headerFilter: headerFilter
            id: id
            userName: userName
          authACL:
[...]
