openapi: 3.0.0
info:
  contact:
    name: StackPath Support
    url: https://support.stackpath.com/
  title: Edge Compute Networking
  version: 1.0.0
externalDocs:
  description: The StackPath API Reference
  url: https://stackpath.dev/reference
servers:
- url: https://gateway.stackpath.com
security:
- oauth2: []
paths:
  /ipam/v1/stacks/{stack_id}/network_policies:
    get:
      operationId: GetNetworkPolicies
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetNetworkPoliciesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get all policies
      tags:
      - Network Policies
    post:
      operationId: CreateNetworkPolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateNetworkPolicyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateNetworkPolicyResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Create a policy
      tags:
      - Network Policies
  /ipam/v1/stacks/{stack_id}/network_policies/{network_policy_id}:
    delete:
      operationId: DeleteNetworkPolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeCompute network policy ID
        explode: false
        in: path
        name: network_policy_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Delete a policy
      tags:
      - Network Policies
    get:
      operationId: GetNetworkPolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeCompute network policy ID
        explode: false
        in: path
        name: network_policy_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetNetworkPolicyResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Get a policy
      tags:
      - Network Policies
    put:
      operationId: UpdateNetworkPolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: An EdgeCompute network policy ID
        explode: false
        in: path
        name: network_policy_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateNetworkPolicyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateNetworkPolicyResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiStatus'
          description: Default error structure.
      summary: Update a policy
      tags:
      - Network Policies
components:
  schemas:
    NetworkPolicySpecPolicyType:
      default: POLICY_TYPE_NOT_SPECIFIED
      enum:
      - POLICY_TYPE_NOT_SPECIFIED
      - INGRESS
      - EGRESS
      type: string
    apiStatus:
      properties:
        code:
          format: int32
          type: integer
        details:
          items:
            $ref: '#/components/schemas/apiStatusDetail'
          type: array
        message:
          type: string
      type: object
    apiStatusDetail:
      discriminator:
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
      type: object
    networkMetadata:
      description: Metadata associated with an entity
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        annotations:
          key: annotations
        deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
        version: version
        labels:
          key: labels
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        annotations:
          additionalProperties:
            type: string
          description: A string to string key/value pair
          type: object
        labels:
          additionalProperties:
            type: string
          description: A string to string key/value pair
          type: object
        createdAt:
          description: The date that a metadata entry was created
          format: date-time
          nullable: true
          readOnly: true
          type: string
        updatedAt:
          description: The date that a metadata entry was last updated
          format: date-time
          nullable: true
          readOnly: true
          type: string
        deleteRequestedAt:
          description: The date that a network policy was requested for deletion
          format: date-time
          nullable: true
          readOnly: true
          type: string
        version:
          description: |-
            An entity's version number

            Versions start at 1 when they are created and increment by 1 every time they are updated.
          type: string
      type: object
    networkStringMapEntry:
      additionalProperties:
        type: string
      description: A string to string key/value pair
      type: object
    paginationPageInfo:
      description: |-
        Information about a paginated response

        This is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination.
      example:
        hasNextPage: true
        hasPreviousPage: true
        endCursor: endCursor
        totalCount: totalCount
        startCursor: startCursor
      properties:
        totalCount:
          description: The total number of items in the dataset
          type: string
        hasPreviousPage:
          description: Whether or not a previous page of data exists
          format: boolean
          type: boolean
        hasNextPage:
          description: Whether or not another page of data is available
          format: boolean
          type: boolean
        startCursor:
          description: The cursor for the first item in the set of data returned
          type: string
        endCursor:
          description: The cursor for the last item in the set of data returned
          type: string
      type: object
    stackpath.rpc.BadRequest:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_BadRequest_allOf'
    stackpath.rpc.BadRequest.FieldViolation:
      properties:
        field:
          type: string
        description:
          type: string
      type: object
    stackpath.rpc.Help:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_Help_allOf'
    stackpath.rpc.Help.Link:
      properties:
        description:
          type: string
        url:
          type: string
      type: object
    stackpath.rpc.LocalizedMessage:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_LocalizedMessage_allOf'
    stackpath.rpc.PreconditionFailure:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_PreconditionFailure_allOf'
    stackpath.rpc.PreconditionFailure.Violation:
      properties:
        type:
          type: string
        subject:
          type: string
        description:
          type: string
      type: object
    stackpath.rpc.QuotaFailure:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_QuotaFailure_allOf'
    stackpath.rpc.QuotaFailure.Violation:
      properties:
        subject:
          type: string
        description:
          type: string
      type: object
    stackpath.rpc.RequestInfo:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_RequestInfo_allOf'
    stackpath.rpc.ResourceInfo:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_ResourceInfo_allOf'
    stackpath.rpc.RetryInfo:
      allOf:
      - $ref: '#/components/schemas/apiStatusDetail'
      - $ref: '#/components/schemas/stackpath_rpc_RetryInfo_allOf'
    v1Action:
      default: UNDEFINED
      description: Which action to apply
      enum:
      - UNDEFINED
      - BLOCK
      - ALLOW
      type: string
    v1CreateNetworkPolicyRequest:
      properties:
        networkPolicy:
          $ref: '#/components/schemas/v1NetworkPolicy'
      type: object
    v1CreateNetworkPolicyResponse:
      description: A response from a request to add a network policy to a stack
      example:
        networkPolicy:
          metadata:
            createdAt: 2000-01-23T04:56:07.000+00:00
            annotations:
              key: annotations
            deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
            version: version
            labels:
              key: labels
            updatedAt: 2000-01-23T04:56:07.000+00:00
          stackId: stackId
          name: name
          description: description
          id: id
          slug: slug
          spec:
            ingress:
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            policyTypes:
            - null
            - null
            priority: 0
            egress:
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
      properties:
        networkPolicy:
          $ref: '#/components/schemas/v1NetworkPolicy'
      type: object
    v1Egress:
      description: An outbound rule from workload instances
      example:
        description: description
        to:
          instanceSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          networkSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          ipBlock:
          - cidr: cidr
            except:
            - except
            - except
          - cidr: cidr
            except:
            - except
            - except
        protocols:
          tcp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          udp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          esp: '{}'
          ah: '{}'
          tcpUdp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          gre: '{}'
          icmp: '{}'
      properties:
        description:
          description: Detailed summary of what the egress rule does
          type: string
        action:
          $ref: '#/components/schemas/v1Action'
        to:
          $ref: '#/components/schemas/v1HostRule'
        protocols:
          $ref: '#/components/schemas/v1Protocols'
      type: object
    v1GetNetworkPoliciesResponse:
      description: A response from a request to retrieve a stack's network policies
      example:
        pageInfo:
          hasNextPage: true
          hasPreviousPage: true
          endCursor: endCursor
          totalCount: totalCount
          startCursor: startCursor
        results:
        - metadata:
            createdAt: 2000-01-23T04:56:07.000+00:00
            annotations:
              key: annotations
            deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
            version: version
            labels:
              key: labels
            updatedAt: 2000-01-23T04:56:07.000+00:00
          stackId: stackId
          name: name
          description: description
          id: id
          slug: slug
          spec:
            ingress:
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            policyTypes:
            - null
            - null
            priority: 0
            egress:
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
        - metadata:
            createdAt: 2000-01-23T04:56:07.000+00:00
            annotations:
              key: annotations
            deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
            version: version
            labels:
              key: labels
            updatedAt: 2000-01-23T04:56:07.000+00:00
          stackId: stackId
          name: name
          description: description
          id: id
          slug: slug
          spec:
            ingress:
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            policyTypes:
            - null
            - null
            priority: 0
            egress:
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
      properties:
        pageInfo:
          $ref: '#/components/schemas/paginationPageInfo'
        results:
          description: The requested network policies
          items:
            $ref: '#/components/schemas/v1NetworkPolicy'
          type: array
      type: object
    v1GetNetworkPolicyResponse:
      description: A response from a request to get a network policy to a stack
      example:
        networkPolicy:
          metadata:
            createdAt: 2000-01-23T04:56:07.000+00:00
            annotations:
              key: annotations
            deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
            version: version
            labels:
              key: labels
            updatedAt: 2000-01-23T04:56:07.000+00:00
          stackId: stackId
          name: name
          description: description
          id: id
          slug: slug
          spec:
            ingress:
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            policyTypes:
            - null
            - null
            priority: 0
            egress:
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
      properties:
        networkPolicy:
          $ref: '#/components/schemas/v1NetworkPolicy'
      type: object
    v1HostRule:
      description: Defines IPs, instances, or networks
      example:
        instanceSelectors:
        - values:
          - values
          - values
          key: key
          operator: operator
        - values:
          - values
          - values
          key: key
          operator: operator
        networkSelectors:
        - values:
          - values
          - values
          key: key
          operator: operator
        - values:
          - values
          - values
          key: key
          operator: operator
        ipBlock:
        - cidr: cidr
          except:
          - except
          - except
        - cidr: cidr
          except:
          - except
          - except
      properties:
        ipBlock:
          description: List of ip blocks
          items:
            $ref: '#/components/schemas/v1IpBlock'
          type: array
        instanceSelectors:
          description: List of instance selectors
          items:
            $ref: '#/components/schemas/v1MatchExpression'
          type: array
        networkSelectors:
          description: List of network selectors
          items:
            $ref: '#/components/schemas/v1MatchExpression'
          type: array
      type: object
    v1Ingress:
      description: An inbound rule to workload instances
      example:
        description: description
        from:
          instanceSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          networkSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          ipBlock:
          - cidr: cidr
            except:
            - except
            - except
          - cidr: cidr
            except:
            - except
            - except
        protocols:
          tcp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          udp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          esp: '{}'
          ah: '{}'
          tcpUdp:
            destinationPorts:
            - destinationPorts
            - destinationPorts
            sourcePorts:
            - sourcePorts
            - sourcePorts
          gre: '{}'
          icmp: '{}'
      properties:
        description:
          description: Detailed summary of what the ingress rule does
          type: string
        action:
          $ref: '#/components/schemas/v1Action'
        from:
          $ref: '#/components/schemas/v1HostRule'
        protocols:
          $ref: '#/components/schemas/v1Protocols'
      type: object
    v1IpBlock:
      description: Defines an IP block
      example:
        cidr: cidr
        except:
        - except
        - except
      properties:
        cidr:
          description: A subnet that will define all the IPs allowed by a rule
          type: string
        except:
          description: |-
            A list of subnets that will be excluded from the above subnet

            This allows a convenient way to allow multiple ip ranges in a single expression
          items:
            type: string
          type: array
      type: object
    v1MatchExpression:
      description: An expression to match selectors against a set of values
      example:
        values:
        - values
        - values
        key: key
        operator: operator
      properties:
        key:
          description: The name of the selector to perform a match against
          type: string
        operator:
          description: |-
            The operation to perform to match a selector

            Valid values are "in" with support for more possible in the future
          type: string
        values:
          description: The values to match in the selector
          items:
            type: string
          type: array
      type: object
    v1NetworkPolicy:
      description: |-
        A network policy

        Network policies define an ACL that applies to one or many workload instances
      example:
        metadata:
          createdAt: 2000-01-23T04:56:07.000+00:00
          annotations:
            key: annotations
          deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
          version: version
          labels:
            key: labels
          updatedAt: 2000-01-23T04:56:07.000+00:00
        stackId: stackId
        name: name
        description: description
        id: id
        slug: slug
        spec:
          ingress:
          - description: description
            from:
              instanceSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              networkSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              ipBlock:
              - cidr: cidr
                except:
                - except
                - except
              - cidr: cidr
                except:
                - except
                - except
            protocols:
              tcp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              udp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              esp: '{}'
              ah: '{}'
              tcpUdp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              gre: '{}'
              icmp: '{}'
          - description: description
            from:
              instanceSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              networkSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              ipBlock:
              - cidr: cidr
                except:
                - except
                - except
              - cidr: cidr
                except:
                - except
                - except
            protocols:
              tcp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              udp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              esp: '{}'
              ah: '{}'
              tcpUdp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              gre: '{}'
              icmp: '{}'
          instanceSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          networkSelectors:
          - values:
            - values
            - values
            key: key
            operator: operator
          - values:
            - values
            - values
            key: key
            operator: operator
          policyTypes:
          - null
          - null
          priority: 0
          egress:
          - description: description
            to:
              instanceSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              networkSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              ipBlock:
              - cidr: cidr
                except:
                - except
                - except
              - cidr: cidr
                except:
                - except
                - except
            protocols:
              tcp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              udp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              esp: '{}'
              ah: '{}'
              tcpUdp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              gre: '{}'
              icmp: '{}'
          - description: description
            to:
              instanceSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              networkSelectors:
              - values:
                - values
                - values
                key: key
                operator: operator
              - values:
                - values
                - values
                key: key
                operator: operator
              ipBlock:
              - cidr: cidr
                except:
                - except
                - except
              - cidr: cidr
                except:
                - except
                - except
            protocols:
              tcp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              udp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              esp: '{}'
              ah: '{}'
              tcpUdp:
                destinationPorts:
                - destinationPorts
                - destinationPorts
                sourcePorts:
                - sourcePorts
                - sourcePorts
              gre: '{}'
              icmp: '{}'
      properties:
        stackId:
          description: The ID of the stack that a network policy belongs to
          readOnly: true
          type: string
        id:
          description: A network policy's unique identifier
          readOnly: true
          type: string
        name:
          description: A network policy's name as it appears in the StackPath portal
          type: string
        slug:
          description: |-
            A network policy's programmatic name

            Network policy slugs are used to build its instances names
          type: string
        description:
          description: Detailed summary of what the policy does
          type: string
        metadata:
          $ref: '#/components/schemas/networkMetadata'
        spec:
          $ref: '#/components/schemas/v1NetworkPolicySpec'
      type: object
    v1NetworkPolicySpec:
      description: The specification for the desired state of a network policy
      example:
        ingress:
        - description: description
          from:
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            ipBlock:
            - cidr: cidr
              except:
              - except
              - except
            - cidr: cidr
              except:
              - except
              - except
          protocols:
            tcp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            udp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            esp: '{}'
            ah: '{}'
            tcpUdp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            gre: '{}'
            icmp: '{}'
        - description: description
          from:
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            ipBlock:
            - cidr: cidr
              except:
              - except
              - except
            - cidr: cidr
              except:
              - except
              - except
          protocols:
            tcp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            udp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            esp: '{}'
            ah: '{}'
            tcpUdp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            gre: '{}'
            icmp: '{}'
        instanceSelectors:
        - values:
          - values
          - values
          key: key
          operator: operator
        - values:
          - values
          - values
          key: key
          operator: operator
        networkSelectors:
        - values:
          - values
          - values
          key: key
          operator: operator
        - values:
          - values
          - values
          key: key
          operator: operator
        policyTypes:
        - null
        - null
        priority: 0
        egress:
        - description: description
          to:
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            ipBlock:
            - cidr: cidr
              except:
              - except
              - except
            - cidr: cidr
              except:
              - except
              - except
          protocols:
            tcp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            udp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            esp: '{}'
            ah: '{}'
            tcpUdp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            gre: '{}'
            icmp: '{}'
        - description: description
          to:
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            ipBlock:
            - cidr: cidr
              except:
              - except
              - except
            - cidr: cidr
              except:
              - except
              - except
          protocols:
            tcp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            udp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            esp: '{}'
            ah: '{}'
            tcpUdp:
              destinationPorts:
              - destinationPorts
              - destinationPorts
              sourcePorts:
              - sourcePorts
              - sourcePorts
            gre: '{}'
            icmp: '{}'
      properties:
        instanceSelectors:
          description: A selector to match workload instances
          items:
            $ref: '#/components/schemas/v1MatchExpression'
          type: array
        networkSelectors:
          description: A selector to match networks
          items:
            $ref: '#/components/schemas/v1MatchExpression'
          type: array
        policyTypes:
          description: |-
            A list of policy types

            Policy types are used to specify what rules will be defined. If a policy type is given but not defined it will default. If it is not provided then no action will be used.
          items:
            $ref: '#/components/schemas/NetworkPolicySpecPolicyType'
          type: array
        priority:
          description: |-
            A policy's priority among other network policies. 1 - 65535

            Network policies apply to all compute workloads on the stack. Lower values have a higher priority, and priorities must be unique across the stack. Use the special value 65534 to apply the same priority to different workload instances in the same stack.
          format: int32
          type: integer
        ingress:
          description: |-
            A list of rules for inbound traffic to instances

            If the ingress policy type is given but not defined here the default is to block all
          items:
            $ref: '#/components/schemas/v1Ingress'
          type: array
        egress:
          description: |-
            A list of rules for outbound traffic from instances

            If the egress policy type is given but not defined here the default is to allow all
          items:
            $ref: '#/components/schemas/v1Egress'
          type: array
      type: object
    v1ProtocolAh:
      description: Authentication Header (AH) protocol matching
      type: object
    v1ProtocolEsp:
      description: Encapsulating Security Payload (ESP) protocol matching
      type: object
    v1ProtocolGre:
      description: Generic Routing Encapsulation (GRE) protocol matching
      type: object
    v1ProtocolIcmp:
      description: ICMP protocol matching
      type: object
    v1ProtocolTcp:
      description: TCP protocol matching
      example:
        destinationPorts:
        - destinationPorts
        - destinationPorts
        sourcePorts:
        - sourcePorts
        - sourcePorts
      properties:
        destinationPorts:
          description: List of destination ports to allow 1-65535
          items:
            type: string
          type: array
        sourcePorts:
          description: List of source ports to allow 1-65535, defaults to 1000-65535
          items:
            type: string
          type: array
      type: object
    v1ProtocolTcpUdp:
      description: TCP or UDP protocol convenience matching
      example:
        destinationPorts:
        - destinationPorts
        - destinationPorts
        sourcePorts:
        - sourcePorts
        - sourcePorts
      properties:
        destinationPorts:
          description: List of destination ports to allow 1-65535
          items:
            type: string
          type: array
        sourcePorts:
          description: List of source ports to allow 1-65535, defaults to 1000-65535
          items:
            type: string
          type: array
      type: object
    v1ProtocolUdp:
      description: UDP protocol matching
      example:
        destinationPorts:
        - destinationPorts
        - destinationPorts
        sourcePorts:
        - sourcePorts
        - sourcePorts
      properties:
        destinationPorts:
          description: List of destination ports to allow 1-65535
          items:
            type: string
          type: array
        sourcePorts:
          description: List of source ports to allow 1-65535, defaults to 1000-65535
          items:
            type: string
          type: array
      type: object
    v1Protocols:
      description: An object of all supported protocols and any attributes for them
      example:
        tcp:
          destinationPorts:
          - destinationPorts
          - destinationPorts
          sourcePorts:
          - sourcePorts
          - sourcePorts
        udp:
          destinationPorts:
          - destinationPorts
          - destinationPorts
          sourcePorts:
          - sourcePorts
          - sourcePorts
        esp: '{}'
        ah: '{}'
        tcpUdp:
          destinationPorts:
          - destinationPorts
          - destinationPorts
          sourcePorts:
          - sourcePorts
          - sourcePorts
        gre: '{}'
        icmp: '{}'
      properties:
        tcp:
          $ref: '#/components/schemas/v1ProtocolTcp'
        udp:
          $ref: '#/components/schemas/v1ProtocolUdp'
        tcpUdp:
          $ref: '#/components/schemas/v1ProtocolTcpUdp'
        icmp:
          description: ICMP protocol matching
          type: object
        ah:
          description: Authentication Header (AH) protocol matching
          type: object
        esp:
          description: Encapsulating Security Payload (ESP) protocol matching
          type: object
        gre:
          description: Generic Routing Encapsulation (GRE) protocol matching
          type: object
      type: object
    v1UpdateNetworkPolicyRequest:
      properties:
        networkPolicy:
          $ref: '#/components/schemas/v1NetworkPolicy'
      type: object
    v1UpdateNetworkPolicyResponse:
      description: A response from a request to update a network policy
      example:
        networkPolicy:
          metadata:
            createdAt: 2000-01-23T04:56:07.000+00:00
            annotations:
              key: annotations
            deleteRequestedAt: 2000-01-23T04:56:07.000+00:00
            version: version
            labels:
              key: labels
            updatedAt: 2000-01-23T04:56:07.000+00:00
          stackId: stackId
          name: name
          description: description
          id: id
          slug: slug
          spec:
            ingress:
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              from:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            instanceSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            networkSelectors:
            - values:
              - values
              - values
              key: key
              operator: operator
            - values:
              - values
              - values
              key: key
              operator: operator
            policyTypes:
            - null
            - null
            priority: 0
            egress:
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
            - description: description
              to:
                instanceSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                networkSelectors:
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                - values:
                  - values
                  - values
                  key: key
                  operator: operator
                ipBlock:
                - cidr: cidr
                  except:
                  - except
                  - except
                - cidr: cidr
                  except:
                  - except
                  - except
              protocols:
                tcp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                udp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                esp: '{}'
                ah: '{}'
                tcpUdp:
                  destinationPorts:
                  - destinationPorts
                  - destinationPorts
                  sourcePorts:
                  - sourcePorts
                  - sourcePorts
                gre: '{}'
                icmp: '{}'
      properties:
        networkPolicy:
          $ref: '#/components/schemas/v1NetworkPolicy'
      type: object
    stackpath_rpc_BadRequest_allOf:
      properties:
        fieldViolations:
          items:
            $ref: '#/components/schemas/stackpath.rpc.BadRequest.FieldViolation'
          type: array
    stackpath_rpc_Help_allOf:
      properties:
        links:
          items:
            $ref: '#/components/schemas/stackpath.rpc.Help.Link'
          type: array
    stackpath_rpc_LocalizedMessage_allOf:
      properties:
        locale:
          type: string
        message:
          type: string
    stackpath_rpc_PreconditionFailure_allOf:
      properties:
        violations:
          items:
            $ref: '#/components/schemas/stackpath.rpc.PreconditionFailure.Violation'
          type: array
    stackpath_rpc_QuotaFailure_allOf:
      properties:
        violations:
          items:
            $ref: '#/components/schemas/stackpath.rpc.QuotaFailure.Violation'
          type: array
    stackpath_rpc_RequestInfo_allOf:
      properties:
        requestId:
          type: string
        servingData:
          type: string
    stackpath_rpc_ResourceInfo_allOf:
      properties:
        resourceType:
          type: string
        resourceName:
          type: string
        owner:
          type: string
        description:
          type: string
    stackpath_rpc_RetryInfo_allOf:
      properties:
        retryDelay:
          type: string
  securitySchemes:
    oauth2:
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://gateway.stackpath.com/identity/v1/oauth2/token
      type: oauth2
x-explorer-enabled: true
x-proxy-enabled: true
x-samples-enabled: true
x-samples-languages:
- curl
- node
- ruby
- javascript
- python
