openapi: 3.0.0
info:
  contact:
    name: StackPath Support
    url: https://support.stackpath.com/
  title: Web Application Firewall
  version: 1.0.0
externalDocs:
  description: The StackPath API Reference
  url: https://stackpath.dev/reference
servers:
- url: https://gateway.stackpath.com
security:
- oauth2: []
paths:
  /waf/v1/organizations:
    get:
      description: StackPath regularly searches IP address space for organizations
        to allow or block in custom rules.
      operationId: GetWAFOrganizations
      parameters:
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetWAFOrganizationsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get WHOIS organizations
      tags:
      - Infrastructure
  /waf/v1/stacks/{stack_id}/delivery/certificates:
    get:
      operationId: GetCertificates
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetCertificatesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all certificates
      tags:
      - SSL
    post:
      operationId: CreateCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafCreateCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafCreateCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Add a certificate
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/delivery/certificates/{certificate_id}:
    delete:
      operationId: DeleteCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Delete a certificate
      tags:
      - SSL
    get:
      operationId: GetCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a certificate
      tags:
      - SSL
    put:
      operationId: UpdateCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafUpdateCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafUpdateCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update a certificate
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/delivery/certificates/{certificate_id}/renew:
    post:
      description: StackPath automatically renews certificates that are 30 days from
        expiration. Call this to retry a renewal that previously failed.
      operationId: RenewCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Renew a certificate
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/delivery/certificates/{certificate_id}/verification_details:
    get:
      operationId: GetCertificateVerificationDetails
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetCertificateVerificationDetailsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get sites associated with a certificate
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/sites/{site_id}/api_urls:
    put:
      operationId: UpdateSiteApiUrls
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafUpdateSiteApiUrlsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafUpdateSiteApiUrlsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update API URLs
      tags:
      - WAF Features
  /waf/v1/stacks/{stack_id}/sites/{site_id}/ddos:
    get:
      operationId: GetDdosSettings
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetDdosSettingsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get DDOS settings
      tags:
      - WAF Features
    patch:
      operationId: UpdateDdosSettings
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafUpdateDdosSettingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafUpdateDdosSettingsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update DDOS settings
      tags:
      - WAF Features
  /waf/v1/stacks/{stack_id}/sites/{site_id}/delivery/certificates:
    get:
      operationId: GetSiteCertificates
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetSiteCertificatesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all site certificates
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/sites/{site_id}/delivery/certificates/request:
    post:
      operationId: RequestCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafRequestCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafRequestCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Request a free certificate
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/sites/{site_id}/delivery/certificates/{certificate_id}:
    put:
      description: |-
        Association is performed without validating if the site has a hostname covered by the certificate. This is useful for preparation work required for getting a site ready for traffic.

        If a certificate is uploaded which contains hostnames for sites, it will automatically be connected to those sites. If a hostname is added to a site which is covered by an SSL certificate, it will automatically be connected to the certificate.
      operationId: ConnectSiteToCertificate
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A certificate ID
        explode: false
        in: path
        name: certificate_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafConnectSiteToCertificateResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update SAN hosts
      tags:
      - SSL
  /waf/v1/stacks/{stack_id}/sites/{site_id}/delivery/dns/targets:
    get:
      description: A site's hostname should point to these CNAME targets in order
        for traffic to be sent through StackPath's edge nodes.
      operationId: GetSiteDnsTargets
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetSiteDnsTargetsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get CNAME targets
      tags:
      - Configuration
  /waf/v1/stacks/{stack_id}/sites/{site_id}/event_stats:
    get:
      description: |-
        Event statistics collect the total number of and number of blocked events for a site over a given time frame. Statistics are collected per country of origin, the rules that triggered events, the requesting organization as determined by WHOIS lookup against the client IP address, and by actions taken by the WAF as a result of the event.

        **Note:** This endpoint is deprecated and will be removed in the future. WAF events will be replaced with requests, which provide more functionality. A replacement for this call is in development.
      operationId: GetEventStatistics
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A lower bound date to search events for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An upper bound date to search events for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.action_value
        required: false
        schema:
          default: ANY_ACTION
          enum:
          - ANY_ACTION
          - BLOCK_ACTION
          - ALLOW_ACTION
          - CAPTCHA_ACTION
          - HANDSHAKE_ACTION
          - MONITOR_ACTION
          type: string
        style: form
      - explode: true
        in: query
        name: filter.result_value
        required: false
        schema:
          default: ANY_RESULT
          enum:
          - ANY_RESULT
          - BLOCKED_RESULT
          - ALLOWED_RESULT
          - MONITORED_RESULT
          type: string
        style: form
      - description: Filter events by client IP address.
        explode: true
        in: query
        name: filter.client_ip
        required: false
        schema:
          type: string
        style: form
      - description: Filter events by reference ID. Reference IDs are displayed to
          the end user when the WAF blocks a request to a site. Please note that an
          event's ID and reference ID are different.
        explode: true
        in: query
        name: filter.reference_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetEventStatisticsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: 'LEGACY: Get event statistics'
      tags:
      - Events
  /waf/v1/stacks/{stack_id}/sites/{site_id}/events:
    get:
      description: '**Note:** This endpoint is deprecated and will be removed in the
        future. WAF events will be replaced with requests, which provide more functionality.
        Please use the [get all requests](ref:getrequests) call to search for WAF
        requests.'
      operationId: SearchEvents
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      - description: A lower bound date to search events for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An upper bound date to search events for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.action_value
        required: false
        schema:
          default: ANY_ACTION
          enum:
          - ANY_ACTION
          - BLOCK_ACTION
          - ALLOW_ACTION
          - CAPTCHA_ACTION
          - HANDSHAKE_ACTION
          - MONITOR_ACTION
          type: string
        style: form
      - explode: true
        in: query
        name: filter.result_value
        required: false
        schema:
          default: ANY_RESULT
          enum:
          - ANY_RESULT
          - BLOCKED_RESULT
          - ALLOWED_RESULT
          - MONITORED_RESULT
          type: string
        style: form
      - description: Filter events by client IP address.
        explode: true
        in: query
        name: filter.client_ip
        required: false
        schema:
          type: string
        style: form
      - description: Filter events by reference ID. Reference IDs are displayed to
          the end user when the WAF blocks a request to a site. Please note that an
          event's ID and reference ID are different.
        explode: true
        in: query
        name: filter.reference_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: TIMESTAMP
          enum:
          - TIMESTAMP
          - COUNTRY
          - RULE_NAME
          type: string
        style: form
      - explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: ASCENDING
          enum:
          - ASCENDING
          - DESCENDING
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafSearchEventsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: 'LEGACY: Get all events'
      tags:
      - Events
  /waf/v1/stacks/{stack_id}/sites/{site_id}/events/{event_id}:
    get:
      description: '**Note:** This endpoint is deprecated and will be removed in the
        future. WAF events will be replaced with requests, which provide more functionality.
        Please use the [get request](ref:getrequest) and [get request details](ref:getrequestdetails)
        calls to retrieve WAF requests.'
      operationId: GetEvent
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF event ID
        explode: false
        in: path
        name: event_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetEventResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: 'LEGACY: Get an event'
      tags:
      - Events
  /waf/v1/stacks/{stack_id}/sites/{site_id}/monitoring:
    delete:
      description: Restore the WAF feature's original enabled or disabled state.
      operationId: UnMonitorSite
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable monitoring mode
      tags:
      - WAF Features
    post:
      description: Sites in monitoring mode accept incoming requests and log but take
        no action on policy and rule violations. A sitge's WAF feature must be enabled
        for monitoring mode to apply. Otherwise, monitoring mode will take effect
        the next time the WAF feature is enabled.
      operationId: MonitorSite
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable monitoring mode
      tags:
      - WAF Features
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups:
    get:
      operationId: GetPolicyGroups
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetPolicyGroupsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all policy groups
      tags:
      - Policies
    patch:
      description: Provide the IDs and enabled states of the policies in their policy
        groups that should change
      operationId: UpdatePolicyGroups
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafUpdatePolicyGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetPolicyGroupsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update policy groups
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}:
    get:
      operationId: GetPolicyGroup
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetPolicyGroupResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a policy group
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/disable:
    post:
      operationId: DisablePolicyGroup
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable all policies in a group
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/enable:
    post:
      operationId: EnablePolicyGroup
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable all policies in a group
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/policies:
    get:
      operationId: GetPolicies
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetPoliciesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all policies in a group
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/policies/{policy_id}:
    get:
      operationId: GetPolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy ID
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetPolicyResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a policy
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/policies/{policy_id}/disable:
    post:
      operationId: DisablePolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy ID
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable a policy
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/policy_groups/{policy_group_id}/policies/{policy_id}/enable:
    post:
      operationId: EnablePolicy
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy group ID
        explode: false
        in: path
        name: policy_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF policy ID
        explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable a policy
      tags:
      - Policies
  /waf/v1/stacks/{stack_id}/sites/{site_id}/requests:
    get:
      operationId: GetRequests
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      - description: A lower bound date to search requests for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An upper bound date to search requests for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetRequestsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all requests
      tags:
      - Requests
  /waf/v1/stacks/{stack_id}/sites/{site_id}/requests/{request_id}:
    get:
      operationId: GetRequest
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF request ID
        explode: false
        in: path
        name: request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetRequestResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a request
      tags:
      - Requests
  /waf/v1/stacks/{stack_id}/sites/{site_id}/requests/{request_id}/details:
    get:
      description: Retrieve more detailed information about a WAF request
      operationId: GetRequestDetails
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF request ID
        explode: false
        in: path
        name: request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetRequestDetailsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a request's details
      tags:
      - Requests
  /waf/v1/stacks/{stack_id}/sites/{site_id}/rules:
    get:
      operationId: GetRules
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetRulesResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all rules
      tags:
      - Rules
    post:
      operationId: CreateRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafCreateRuleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafCreateRuleResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Create a rule
      tags:
      - Rules
  /waf/v1/stacks/{stack_id}/sites/{site_id}/rules/bulk_delete:
    post:
      operationId: BulkDeleteRules
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafBulkDeleteRulesRequest'
        required: true
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Delete multiple rules
      tags:
      - Rules
  /waf/v1/stacks/{stack_id}/sites/{site_id}/rules/{rule_id}:
    delete:
      operationId: DeleteRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF rule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Delete a rule
      tags:
      - Rules
    get:
      operationId: GetRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF rule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetRuleResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get a rule
      tags:
      - Rules
    patch:
      description: Only properties present in the request will be updated.
      operationId: UpdateRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF rule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wafUpdateRuleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafUpdateRuleResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Update a rule
      tags:
      - Rules
  /waf/v1/stacks/{stack_id}/sites/{site_id}/rules/{rule_id}/disable:
    post:
      operationId: DisableRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF rule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Disable a rule
      tags:
      - Rules
  /waf/v1/stacks/{stack_id}/sites/{site_id}/rules/{rule_id}/enable:
    post:
      operationId: EnableRule
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: false
        in: path
        name: site_id
        required: true
        schema:
          type: string
        style: simple
      - description: A WAF rule ID
        explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Enable a rule
      tags:
      - Rules
  /waf/v1/stacks/{stack_id}/traffic:
    get:
      description: |-
        Retrieve a report of a stack or site's WAF traffic.

        **Note:** This endpoint is deprecated and will be removed in the future. Please use the [v2 get traffic call](ref:gettrafficv2) to retrieve WAF site traffic.
      operationId: GetTraffic
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: A lower bound date to search traffic for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An upper bound date to search traffic for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - HOURLY: All data points represent one hour of traffic
           - MINUTELY: All data points represent one minute of traffic
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: HOURLY
          enum:
          - HOURLY
          - MINUTELY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetTrafficResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: 'LEGACY: Get traffic'
      tags:
      - Traffic
  /waf/v1/tags:
    get:
      description: Get tags available for use in WAF rule conditons. Tags describe
        aspects of an incoming web request and acn be used to create complex application-level
        custom rules.
      operationId: GetTags
      parameters:
      - description: The number of items desired.
        explode: true
        in: query
        name: page_request.first
        required: false
        schema:
          type: string
        style: form
      - description: The cursor value after which data will be returned.
        explode: true
        in: query
        name: page_request.after
        required: false
        schema:
          type: string
        style: form
      - description: SQL-style constraint filters.
        explode: true
        in: query
        name: page_request.filter
        required: false
        schema:
          type: string
        style: form
      - description: Sort the response by the given field.
        explode: true
        in: query
        name: page_request.sort_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetTagsResponse'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get all tags
      tags:
      - WAF Features
  /waf/v2/stacks/{stack_id}/traffic:
    get:
      description: Retreive a report of a stack or site's WAF traffic
      operationId: GetTrafficV2
      parameters:
      - description: A stack ID or slug
        explode: false
        in: path
        name: stack_id
        required: true
        schema:
          type: string
        style: simple
      - description: A site ID
        explode: true
        in: query
        name: site_id
        required: false
        schema:
          type: string
        style: form
      - description: A lower bound date to search traffic for.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: An upper bound date to search traffic for.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |2-
           - DAILY: All data points represent one day of traffic
           - HOURLY: All data points represent one hour of traffic
           - MINUTELY: All data points represent one minute of traffic
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: DAILY
          enum:
          - DAILY
          - HOURLY
          - MINUTELY
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wafGetTrafficV2Response'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Returned when an unauthorized request is attempted.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Internal server error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stackpathapiStatus'
          description: Default error structure.
      summary: Get traffic
      tags:
      - Traffic
components:
  schemas:
    ConditionContentTypeCondition:
      description: Match the requested Content-Type
      example:
        contentType: contentType
      properties:
        contentType:
          description: The Content-Type to match against
          type: string
      type: object
    ConditionCountryCondition:
      description: Match the country that the requested originated from
      example:
        countryCode: countryCode
      properties:
        countryCode:
          description: An ISO 3166-1 alpha-2 formatted string
          type: string
      type: object
    ConditionFileExtensionCondition:
      description: Match the incoming file extension
      example:
        fileExtension: fileExtension
      properties:
        fileExtension:
          description: The file extension, with or without a period character, to
            match against
          type: string
      type: object
    ConditionHeaderCondition:
      description: Match an incoming request header
      example:
        exactMatch: true
        header: header
        value: value
      properties:
        header:
          description: The request header name
          type: string
        value:
          description: The request header value
          type: string
        exactMatch:
          description: Whether or not to perform an exact match of the request header
            and value
          format: boolean
          type: boolean
      type: object
    ConditionHeaderExistsCondition:
      description: Match when an incoming request header is present
      example:
        header: header
      properties:
        header:
          description: The request header name
          type: string
      type: object
    ConditionHttpMethodCondition:
      description: Match the incoming HTTP method
      example: {}
      properties:
        httpMethod:
          $ref: '#/components/schemas/wafHttpMethod'
      type: object
    ConditionIpCondition:
      description: Match the incoming request against a single IP address
      example:
        ipAddress: ipAddress
      properties:
        ipAddress:
          description: A single IPv4 address
          type: string
      type: object
    ConditionIpRangeCondition:
      description: Match the incoming request against a range of IPv4 addresses
      example:
        upperBound: upperBound
        lowerBound: lowerBound
      properties:
        lowerBound:
          description: The lower bound IPv4 address to match against
          type: string
        upperBound:
          description: The upper bound IPv4 address to match against
          type: string
      type: object
    ConditionOrganizationCondition:
      description: Match the organization the request originated from, as determined
        by a WHOIS lookup of the requesting IP
      example:
        organization: organization
      properties:
        organization:
          description: The organization to match against
          type: string
      type: object
    ConditionOwnerTypeCondition:
      description: Match the type of organization that owns the IP address making
        an incoming request
      example:
        ownerTypes:
        - null
        - null
      properties:
        ownerTypes:
          description: The owner value to match against
          items:
            $ref: '#/components/schemas/OwnerTypeConditionOwnerType'
          type: array
      type: object
    ConditionRequestRateCondition:
      description: Match the rate at which requests come in that match certain conditions
      example:
        httpMethods:
        - null
        - null
        pathPattern: pathPattern
        requests: requests
        time: time
        ips:
        - ips
        - ips
      properties:
        ips:
          description: A list of source IPs that can trigger a request rate condition
          items:
            type: string
          type: array
        httpMethods:
          description: Possible HTTP request methods that can trigger a request rate
            condition
          items:
            $ref: '#/components/schemas/wafHttpMethod'
          type: array
        pathPattern:
          description: A regular expression matching the URL path of the incoming
            request
          type: string
        requests:
          description: The number of incoming requests over the given time that can
            trigger a request rate condition
          type: string
        time:
          description: The number of seconds that the WAF measures incoming requests
            over before triggering a request rate condition
          type: string
      type: object
    ConditionResponseHeaderCondition:
      description: Match a response header
      example:
        exactMatch: true
        header: header
        value: value
      properties:
        header:
          description: The response header name
          type: string
        value:
          description: The response header value
          type: string
        exactMatch:
          description: Whether to perform an exact match of the response header and
            value
          format: boolean
          type: boolean
      type: object
    ConditionResponseHeaderExistsCondition:
      description: Match when a response header is present
      example:
        header: header
      properties:
        header:
          description: The response header name
          type: string
      type: object
    ConditionSessionRequestCountCondition:
      description: |-
        Match the number of dynamic page requests made in a WAF session

        The WAF injects a session cookie into protected pages to track multi-request security issues. This condition matches against the number of dynamic page requests made during that session's lifetime.
      example:
        requestCount: requestCount
      properties:
        requestCount:
          description: The number of dynamic requests in the session
          type: string
      type: object
    ConditionTagCondition:
      description: Match aspects of an incoming request
      example:
        tags:
        - tags
        - tags
      properties:
        tags:
          description: A facet of the incoming request to match against
          items:
            type: string
          type: array
      type: object
    ConditionUrlCondition:
      description: Match the incoming request URL
      example:
        exactMatch: true
        url: url
      properties:
        url:
          description: The URL to match
          type: string
        exactMatch:
          description: Whether to perform an exact match or a string contains match
            of the URL
          format: boolean
          type: boolean
      type: object
    ConditionUserAgentCondition:
      description: Match the user agent making the request
      example:
        exactMatch: true
        userAgent: userAgent
      properties:
        userAgent:
          description: The user agent value to match
          type: string
        exactMatch:
          description: Whether to perform an exact match or a string contains match
            of the user agent
          format: boolean
          type: boolean
      type: object
    EventRequestUserAgent:
      description: |-
        Parsed user agent information

        Incoming user agents are parsed by StackPath into categories to help describe the type of device and HTTP client or browser that made a request that triggered a WAF event. Parsed user agent properties have the value "NA" if StackPath is unable to parse the incoming user agent.
      example:
        clientType: clientType
        os: os
        clientName: clientName
        raw: raw
        device: device
      properties:
        clientName:
          description: The name of the requesting client, typically the name of the
            requesting web browser
          type: string
        clientType:
          description: The requesting client's type, such as "major browser" or "mobile
            app"
          type: string
        device:
          description: The brand name of the device making the request, such as "iphone"
            or "playstation"
          type: string
        os:
          description: The operating system of the device making the request
          type: string
        raw:
          description: The full user agent string
          type: string
      type: object
    EventRuleAction:
      description: Aspects of the rule that triggered a WAF event
      example:
        blocked: true
        engine: engine
        ruleName: ruleName
        ruleId: ruleId
      properties:
        ruleName:
          description: The name of the rule that triggered the event action
          type: string
        ruleId:
          description: The unique ID of the rule that triggered the event action
          type: string
        actionTaken:
          $ref: '#/components/schemas/wafRuleAction'
        blocked:
          description: Whether the requesting client was blocked or not
          format: boolean
          type: boolean
        engine:
          description: The name of the internal WAF engine powering the rule
          type: string
        requestType:
          $ref: '#/components/schemas/EventWafRequestType'
        result:
          $ref: '#/components/schemas/RuleActionResultType'
      type: object
    EventStatistics:
      description: A collection of common event metrics
      example:
        blocked:
          organizations:
          - organization: organization
            count: count
          - organization: organization
            count: count
          rules:
          - count: count
            ruleName: ruleName
          - count: count
            ruleName: ruleName
          countries:
          - country: country
            countryCode: countryCode
            count: count
          - country: country
            countryCode: countryCode
            count: count
          actions:
          - count: count
          - count: count
        count:
          organizations:
          - organization: organization
            count: count
          - organization: organization
            count: count
          rules:
          - count: count
            ruleName: ruleName
          - count: count
            ruleName: ruleName
          countries:
          - country: country
            countryCode: countryCode
            count: count
          - country: country
            countryCode: countryCode
            count: count
          actions:
          - count: count
          - count: count
      properties:
        count:
          $ref: '#/components/schemas/StatisticsMetrics'
        blocked:
          $ref: '#/components/schemas/StatisticsMetrics'
      type: object
    EventWafRequestType:
      default: CHALLENGE
      enum:
      - CHALLENGE
      - BLOCK
      type: string
    MetricsActions:
      description: The number of events per action taken by the WAF
      example:
        count: count
      properties:
        action:
          $ref: '#/components/schemas/wafRuleAction'
        count:
          description: The number of requests that resulted in that action
          type: string
      type: object
    MetricsCountries:
      description: The number of events per country of origin
      example:
        country: country
        countryCode: countryCode
        count: count
      properties:
        country:
          description: A country's long name
          type: string
        countryCode:
          description: A country's ISO 3166-1 alpha-2 code
          type: string
        count:
          description: The number of requests from the country
          type: string
      type: object
    MetricsOrganizations:
      description: The number of events per requesting organization, as determined
        by WHOIS lookup on the requesting IP
      example:
        organization: organization
        count: count
      properties:
        organization:
          description: An organization's name
          type: string
        count:
          description: The number of requests from the organization
          type: string
      type: object
    MetricsRules:
      description: The "top threats" metric, the number of events encountered per
        rule
      example:
        count: count
        ruleName: ruleName
      properties:
        ruleName:
          description: The name of the rule
          type: string
        count:
          description: The number of requests the rule analyzed
          type: string
      type: object
    NetworkOrganization:
      description: The organization that owns the WAF request's originating IP address
        according to a WHOIS lookup
      example:
        subnet: subnet
        name: name
      properties:
        name:
          description: The name of organization
          type: string
        subnet:
          description: The IP bock of the organization
          type: string
      type: object
    OwnerTypeConditionOwnerType:
      default: COMMERCIAL
      description: Potential owner type values to match against
      enum:
      - COMMERCIAL
      - EDUCATIONAL
      - GOVERNMENT
      - HOSTING_SERVICES
      - ISP
      - MOBILE_NETWORK
      - NETWORK
      - RESERVED
      type: string
    RequestDetailsRequestType:
      default: API
      description: |-
        The types of a WAF request

        - API: A WAF request to a URL designated by WAF as an API URL
         - AJAX: An AJAX WAF request
         - STATIC: A WAF request to a static resource
      enum:
      - API
      - AJAX
      - STATIC
      type: string
    RequestDetailsTags:
      description: |-
        Aspects of a WAF request

        Tags describe aspects of an incoming web request and can be used to create complex application-level custom rules
      example:
        cached: true
        hash: hash
        tags:
        - tags
        - tags
      properties:
        tags:
          description: The tags associated with the request
          items:
            type: string
          type: array
        hash:
          description: The tag's hash
          type: string
        cached:
          description: Whether or not the tag was cached
          format: boolean
          type: boolean
      type: object
    RuleActionResultType:
      default: RESULT_TYPE_UNSPECIFIED
      description: |-
        Results from a WAF event

        - RESULT_TYPE_UNSPECIFIED: The event resulted in an unknown action
         - BLOCKED: The event was blocked by the WAF
         - ALLOWED: The event was allowed by the WAF
         - MONITORED: The event was monitored by the WAF but no action was taken
      enum:
      - RESULT_TYPE_UNSPECIFIED
      - BLOCKED
      - ALLOWED
      - MONITORED
      type: string
    RuleCondition:
      description: The criteria of an incoming web request and the models of the various
        values those criteria can take
      example:
        country:
          countryCode: countryCode
        negation: true
        requestRate:
          httpMethods:
          - null
          - null
          pathPattern: pathPattern
          requests: requests
          time: time
          ips:
          - ips
          - ips
        sessionRequestCount:
          requestCount: requestCount
        ip:
          ipAddress: ipAddress
        ipRange:
          upperBound: upperBound
          lowerBound: lowerBound
        responseHeader:
          exactMatch: true
          header: header
          value: value
        userAgent:
          exactMatch: true
          userAgent: userAgent
        httpMethod: {}
        url:
          exactMatch: true
          url: url
        responseHeaderExists:
          header: header
        tags:
          tags:
          - tags
          - tags
        headerExists:
          header: header
        fileExtension:
          fileExtension: fileExtension
        organization:
          organization: organization
        header:
          exactMatch: true
          header: header
          value: value
        ownerTypes:
          ownerTypes:
          - null
          - null
        contentType:
          contentType: contentType
      properties:
        ip:
          $ref: '#/components/schemas/ConditionIpCondition'
        ipRange:
          $ref: '#/components/schemas/ConditionIpRangeCondition'
        url:
          $ref: '#/components/schemas/ConditionUrlCondition'
        userAgent:
          $ref: '#/components/schemas/ConditionUserAgentCondition'
        header:
          $ref: '#/components/schemas/ConditionHeaderCondition'
        headerExists:
          $ref: '#/components/schemas/ConditionHeaderExistsCondition'
        responseHeader:
          $ref: '#/components/schemas/ConditionResponseHeaderCondition'
        responseHeaderExists:
          $ref: '#/components/schemas/ConditionResponseHeaderExistsCondition'
        httpMethod:
          $ref: '#/components/schemas/ConditionHttpMethodCondition'
        fileExtension:
          $ref: '#/components/schemas/ConditionFileExtensionCondition'
        contentType:
          $ref: '#/components/schemas/ConditionContentTypeCondition'
        country:
          $ref: '#/components/schemas/ConditionCountryCondition'
        organization:
          $ref: '#/components/schemas/ConditionOrganizationCondition'
        requestRate:
          $ref: '#/components/schemas/ConditionRequestRateCondition'
        ownerTypes:
          $ref: '#/components/schemas/ConditionOwnerTypeCondition'
        tags:
          $ref: '#/components/schemas/ConditionTagCondition'
        sessionRequestCount:
          $ref: '#/components/schemas/ConditionSessionRequestCountCondition'
        negation:
          description: Whether or not to apply a boolean NOT operation to the rule's
            condition
          format: boolean
          type: boolean
      type: object
    RuleStatusCode:
      default: FORBIDDEN_403
      description: A custom HTTP status code that the WAF returns if a rule blocks
        a request
      enum:
      - FORBIDDEN_403
      - TOO_MANY_REQUESTS_429
      type: string
    SearchFilterActionFilter:
      default: ANY_ACTION
      description: Potential actions the WAF took on an event
      enum:
      - ANY_ACTION
      - BLOCK_ACTION
      - ALLOW_ACTION
      - CAPTCHA_ACTION
      - HANDSHAKE_ACTION
      - MONITOR_ACTION
      type: string
    SearchFilterResultFilter:
      default: ANY_RESULT
      description: |-
        Potential final results the WAF took on the event

        A result reflects the end result of an event. For instance, if a user was first challenged with a captcha and then passed or failed the captcha.
      enum:
      - ANY_RESULT
      - BLOCKED_RESULT
      - ALLOWED_RESULT
      - MONITORED_RESULT
      type: string
    SiteAttachMode:
      default: STANDALONE
      description: |-
        How a WAF site relates to other StackPath site features

        - STANDALONE: This WAF site does not have a corresponding caching CDN site
         - ATTACHED: This WAF site represents the protection capabilities of a CDN site
      enum:
      - STANDALONE
      - ATTACHED
      type: string
    StatisticsMetrics:
      description: A collection of common event metrics for a single WAF action
      example:
        organizations:
        - organization: organization
          count: count
        - organization: organization
          count: count
        rules:
        - count: count
          ruleName: ruleName
        - count: count
          ruleName: ruleName
        countries:
        - country: country
          countryCode: countryCode
          count: count
        - country: country
          countryCode: countryCode
          count: count
        actions:
        - count: count
        - count: count
      properties:
        rules:
          description: The "top threats" metric, the number of events encountered
            per rule
          items:
            $ref: '#/components/schemas/MetricsRules'
          type: array
        countries:
          description: The number of events per country of origin
          items:
            $ref: '#/components/schemas/MetricsCountries'
          type: array
        organizations:
          description: The number of events per requesting organization, as determined
            by WHOIS lookup on the requesting IP
          items:
            $ref: '#/components/schemas/MetricsOrganizations'
          type: array
        actions:
          description: The number of events per action taken by the WAF
          items:
            $ref: '#/components/schemas/MetricsActions'
          type: array
      type: object
    TrafficPassedToOrigin:
      description: Aspects of legitimate WAF traffic
      example:
        staticContent: staticContent
        allowedSearchEngine: allowedSearchEngine
        uncategorized: uncategorized
        whitelisted: whitelisted
        legitimateRequest: legitimateRequest
      properties:
        legitimateRequest:
          description: The number of requests that passed all policies and rules and
            were sent to the origin
          type: string
        whitelisted:
          description: The number of requests allowed by whitelist
          type: string
        allowedSearchEngine:
          description: The number of requests allowed by allow search bot policies
          type: string
        staticContent:
          description: The number of requests for static content that was not analyzed
            by the WAF
          type: string
        uncategorized:
          description: All uncategorized requests that the WAF passed to the origin
          type: string
      type: object
    apiStatusDetail:
      discriminator:
        propertyName: '@type'
      properties:
        '@type':
          type: string
      required:
      - '@type'
      type: object
    paginationPageInfo:
      description: |-
        Information about a paginated response

        This is modeled after the GraphQL Relay spec to support both cursor based pagination and traditional offset based pagination.
      example:
        hasNextPage: true
        hasPreviousPage: true
        endCursor: endCursor
        totalCount: totalCount
        startCursor: startCursor
      properties:
        totalCount:
          description: The total number of items in the dataset
          type: string
        hasPreviousPage:
          description: Whether or not a previous page of data exists
          format: boolean
          type: boolean
        hasNextPage:
          description: Whether or not another page of data is available
          format: boolean
          type: boolean
        startCursor:
          description: The cursor for the first item in the set of data returned
          type: string
        endCursor:
          description: The cursor for the last item in the set of data returned
          type: string
      type: object
    schemawafOrigin:
      description: A WAF site's origin
      properties:
        path:
          description: An origin's path
          type: string
        hostname:
          description: An origin's fully-qualified domain name
          type: string
        port:
          description: The http port to connect to the origin
          format: int32
          type: integer
        securePort:
          description: The https port to connect to the origin
          format: int32
          type: integer
      type: object
    schemawafPolicy:
      description: |-
        An individually toggleable WAF policy

        Policies are pre-defined WAF rules created by StackPath for common firewall functionality.
[...]
